/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

html {
	overflow-x: hidden;
	max-width:   100%;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1{
    font-size:26px;
}
h2{
   font-size:22px;
}
h3{
    font-size:18px
}
h4{
    font-size:14px
}
h5{
    font-size:12px
}
/**
* 2.0 - Typography
* ----------------------------------------------------------------------------
*/
@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('../fonts/SourceSansPro-Light.eot');
    src: url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Light.woff') format('woff'),
         url('../fonts/SourceSansPro-Light.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Light.svg#Source Sans Pro Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro ExtraLight';
    src: url('../fonts/SourceSansPro-ExtraLight.eot');
    src: url('../fonts/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-ExtraLight.woff') format('woff'),
         url('../fonts/SourceSansPro-ExtraLight.ttf') format('truetype'),
         url('../fonts/SourceSansPro-ExtraLight.svg#Source Sans Pro ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Regular';
    src: url('../fonts/SourceSansPro-Regular.eot');
    src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Regular.woff') format('woff'),
         url('../fonts/SourceSansPro-Regular.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Regular.svg#Source Sans Pro Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	max-width: 100%;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
	color:#636365;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}

small {
	letter-spacing: 0.1px;
	font-size: 0.8em;
	display: block;
	margin: 0 0 25px;
}

big {
	font-size: 1.2em;
}

p {
	line-height: 20px;
	position: relative;
	margin-bottom: 28px;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
}

p:empty {
	display: none;
}

.grve-medium-text {
	font-size: 60px !important;
	line-height: 1.2;
}

.grve-large-text {
	font-size: 100px !important;
	line-height: 1.2;
}

.grve-bold-text {
	font-weight: bold;
	font-weight: 600;
}

.grve-light-text {
	font-weight: normal;
	font-weight: 200;
	font-family: 'Source Sans Pro Light';
}

/*	Links  */

a {
	text-decoration: none;
	outline: 0;
}

a:hover,
a:focus,
a:visited {
	text-decoration: none;
}

/* More Link*/

.more-link {
	display: block;
	margin-top: 10px;
}

/*	List  */

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ul,
ol {
	margin-bottom: 28px;
	margin-left:20px;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left:20px;
}

/*	Blockquote  */

blockquote {
	position: relative;
	padding-left:20px;
	margin-bottom: 30px;
}

blockquote:before {
	content: "";
	width: 1px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

blockquote.left {}

blockquote.right {}

/* Other elements */

cite,
em,
var,
address,
dfn {
	font-style: italic;
}

address {
	margin-bottom: 30px;
}

dl {
	margin-bottom: 30px;
}
dt {
	font-family: inherit;
}

dd {
	padding-left: 15px;
}

.sticky {}
.bypostauthor {}

code,
kbd,
tt,
var,
samp,
pre {
	font: 12px "Courier New", Courier, monospace;
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	line-height: 1.6;
}

pre {
	display: block;
	clear: both;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	overflow-x: auto;
	height: auto;
	border: 1px solid;
	margin: 30px 0;
	color: rgba(0,0,0,0.5);
}

sup{
	vertical-align: super;
	font-size: smaller;
}

sub{
	vertical-align: sub;
	font-size: smaller;
}

/**
 * 3.0 - Aligns
 * ----------------------------------------------------------------------------
 */

.grve-align-left {
	text-align: left;
}

.grve-align-right {
	text-align: right;
}

.grve-align-center {
	text-align: center;
}

.alignleft,
img.alignleft {
	float: left;
	margin-right: 10px;
}

.alignright,
img.alignright {
	float: right;
	margin-left: 10px;
}

.aligncenter,
img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

/**
* Inputs
* ----------------------------------------------------------------------------
*/

.input-text,
input[type="text"],
input[type="input"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="search"],
textarea {
	-webkit-appearance: none;
}

.input-text,
input[type="text"],
input[type="input"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="search"],
textarea,
select {
	border: 1px solid;
	padding: 10px;
	font-size: 0.85em;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	-webkit-box-shadow:inset 0 0 0 0 rgba(0,0,0,0);
	box-shadow:inset 0 0 0 0 rgba(0,0,0,0);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
textarea:focus {
	outline: none;
}

fieldset {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0 0 30px;
	padding: 15px;
}

legend {
	white-space: normal;
}


/**
* Buttons
* ----------------------------------------------------------------------------
*/
input[type=submit] {
	-webkit-appearance: none;
}

input[type="submit"],
.grve-btn {
	padding: 1em 2.692em !important;
	margin: 0px;
	display: inline-block;
	border: none;
	cursor: pointer;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.25) inset, 0px 1px 3px rgba(0,0,0,0.2) !important;
	border: 1px solid;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	line-height: 1;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

 /**
 * 10.0 - Tables
 * ----------------------------------------------------------------------------
 */
table {
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid;
	border-collapse: collapse;
	cursor: default;
}

tr {
	-webkit-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
	border-bottom: 1px solid;
}

td,
th {
	padding: 10px 20px 10px 20px;
	line-height: 1.5;
	border-right: 1px solid;
	text-align: center;
}

th:last-child {
	border: none;
}

/* Responsive images. Fluid images for posts, comments, and widgets */
img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
	max-width: 100%;
}


.comment-content img,
.entry-content img,
.entry-summary img,
.widget img,
.wp-caption {
	max-width: 100%;
}

/**
 * Make sure images with WordPress-added height and width attributes are
 * scaled correctly.
 */

.comment-content img[height],
.entry-content img,
.entry-summary img,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

.size-full,
.size-large,
.size-medium,
.size-thumbnail,
.wp-post-image,
.post-thumbnail img {
	height: auto;
	max-width: 100%;
}

/* Embeds and iframes */

embed,
iframe,
object,
video {
	margin-bottom: 30px;
	max-width: 100%;
}

p > embed,
p > iframe,
p > object,
span > embed,
span > iframe,
span > object {
	margin-bottom: 0;
}

/* Image Captions*/

.wp-caption {
	margin-bottom: 24px;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption-text {
	display: block;
	font-size: 0.8em;
	margin: 0 auto;
	padding: 3px 0 5px 0;
	text-align: left;
	line-height: 1.5;
}

.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}

/* Gallery */
.gallery {
	margin: 0 -15px !important;
}
.gallery dl {
	margin-top: 0 !important;
}

.gallery dt {}

.gallery dd {}

.gallery dl a {}

.gallery dl img {
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	padding: 0 15px;
	border: none !important;
}

.gallery-caption {
	padding-left: 15px;
	padding-right: 15px;
}

