/**
* Table of Contents:
*
* Titles
* Dividers
* Buttons
* Quotes
* Drop Caps
* Call Out
* List
* Info Message
* Slogan
* Single Image
* Image Text
* Tables
* Pricing Table
* Box Elements
* Accordion & Toggles
* Tabs
* Progress Bars
* Carousel
* Testimonial
* Slider
* Revolution Slider
* Map
* Media
* Gallery
* Blog
* Portfolio
* Form
* Team
* Partners
* Widgets
* Media Queries
* Background
* ----------------------------------------------------------------------------
*/


/**
* Titles
* ----------------------------------------------------------------------------
*/

h1.grve-element,
h2.grve-element,
h3.grve-element,
h4.grve-element,
h5.grve-element,
h6.grve-element {
	margin-bottom: 15px;
}

/* Title With Line */
.grve-element.grve-title-line {
	margin-bottom: 15px;
}

.grve-title-line {
	position: relative;
	overflow: hidden;
	line-height: 1.2;
	padding: 0;
}

.grve-title-line:after,
.grve-align-center.grve-title-line:before,
.grve-align-right.grve-title-line:before {
	content: "";
	width: 200%;
	display: inline-block;
	margin: 0 -200% 0 0;
	position: relative;
	left: 2%;
	border-top: 1px solid;
	vertical-align: middle;
}

.grve-align-center.grve-title-line:before,
.grve-align-right.grve-title-line:before {
	left: 0;
	margin: 0 2% 0 -202%;
}

.grve-align-center.grve-title-line:after {
	width: 80px;
	margin: 0 -80px 0 2%;
	left: 0;
}

.grve-align-center.grve-title-line:before {
	width: 80px;
	margin: 0 2% 0 -80px;
}


/* Title With Double Line */
.grve-element.grve-title-double-line {
	margin-bottom: 15px;
}

.grve-title-double-line {
	position: relative;
	overflow: hidden;
	line-height: 1.2;
	padding: 0;
}

.grve-title-double-line:after,
.grve-align-center.grve-title-double-line:before,
.grve-align-right.grve-title-double-line:before {
	content: "";
	width: 200%;
	height: .15em;
	display: inline-block;
	margin: 0 -200% 0 0;
	position: relative;
	left: 2%;
	border-top: 1px solid;
	border-bottom: 1px solid;
	vertical-align: middle;
}

.grve-align-center.grve-title-double-line:before,
.grve-align-right.grve-title-double-line:before {
	left: 0;
	margin: 0 2% 0 -202%;
	width: 200%;
}

.grve-align-center.grve-title-double-line:after {
	width: 80px;
	margin: 0 -80px 0 2%;
	left: 0;
}

.grve-align-center.grve-title-double-line:before {
	width: 80px;
	margin: 0 2% 0 -80px;
}


/* Title With striped Line */
.grve-element.grve-title-striped {
	margin-bottom: 15px;
}

.grve-title-striped {
	position: relative;
	overflow: hidden;
	line-height: 1.2;
	padding: 0;
}

.grve-title-striped:after,
.grve-align-center.grve-title-striped:before,
.grve-align-right.grve-title-striped:before {
	content: "";
	width: 200%;
	height: 0.5em;
	background: url(../images/graphics/striped.png) repeat;
	display: inline-block;
	margin: 0 -200% 0 0;
	position: relative;
	left: 2%;
	vertical-align: middle;
}

.grve-align-center.grve-title-striped:before,
.grve-align-right.grve-title-striped:before {
	left: 0;
	margin: 0 2% 0 -202%;
}

.grve-align-center.grve-title-striped:after {
	width: 80px;
	margin: 0 -80px 0 2%;
	left: 0;
}

.grve-align-center.grve-title-striped:before {
	width: 80px;
	margin: 0 2% 0 -80px;
}


/**
* Dividers
* ----------------------------------------------------------------------------
*/
.grve-gap {
	height: 30px;
	width: 100%;
	display: inline-block;
}

hr.grve-element {
	margin-bottom: 30px;
	height: 1px;
	display: block;
	border: none;
	border-top: 1px solid;
}

/* Double Line Divider */
hr.grve-double-line-divider {
	height: 5px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

/* Dashed Line Divider */
hr.grve-dashed-line-divider {
	border-top: 1px dashed;
}

/* Line Divider */
hr.grve-line-divider {
	border-top: 1px solid;
}

/* Striped Divider */
hr.grve-striped-divider {
	height: 10px;
	border: none;
	background: url(../images/graphics/striped.png) repeat;
}

hr.grve-small-divider {
	max-width: 10%;
	margin-left: auto !important;
	margin-right: auto !important;
}

/* Dividers Margins */
hr.grve-margin-0{
	margin: 0px 0px 0px 0px;
}

hr.grve-margin-10{
	margin: 0px 0px 10px 0px;
}

hr.grve-margin-20{
	margin: 0px 0px 20px 0px;
}

hr.grve-margin-30{
	margin: 15px 0px 15px 0px;
}

hr.grve-margin-40{
	margin: 10px 0px 40px 0px;
}

hr.grve-margin-50{
	margin: 20px 0px 50px 0px;
}

hr.grve-element.grve-space-divider {
	margin: 0px;
	border: none;
	height: 30px;
}


/**
* Buttons
* ----------------------------------------------------------------------------
*/
p .grve-btn  {
	margin: 0px 5px;
}

.grve-btn.grve-btn-line {
	border: 1px solid #fff;
	color: #fff;
}

.grve-btn.grve-btn-line:hover {
	background-color: #fff;
}

.grve-btn:active {
	-webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0);
	box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0);
}
/* Basic Button */
button.blue{
    background: #376d97;
}
button.red{
    background: #f15c5b;
}
@media screen and (max-width: 960px){
    button.blue{padding:10px; }
    button.red{ padding:10px;}
} 
@media screen and (min-width: 960px){
button.blue{
    padding: 15px 50px 15px 50px;
    text-transform: uppercase;
}
button.red{
    background: #f15c5b;
    padding: 15px 50px 15px 50px;
    text-transform: uppercase;
}
}
/* Advanced Button */
.grve-btn.grve-btn-advanced {
	padding: 0 !important;
}

.grve-btn.grve-btn-line.grve-btn-advanced:hover {
	background-color: transparent;
}

.grve-btn.grve-btn-advanced span {
	padding: 1em 2.692em !important;
}

.grve-btn.grve-btn-advanced{
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.grve-btn.grve-btn-advanced span {
	display: block;
}

.grve-btn.grve-btn-advanced:before {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	z-index: -1;
	padding: 1em 0px !important;
	z-index: 1;
	content: attr(data-hover);
	-webkit-transition: left 0.2s ease;
	-moz-transition: left 0.2s ease;
	-o-transition: left 0.2s ease;
	-ms-transition: left 0.2s ease;
	transition: left 0.2s ease;
	text-align: center;
}

.grve-btn-line.grve-btn-advanced:before {
	background-color: #fff;
}

.grve-btn.grve-btn-advanced:hover span,
.grve-btn.grve-btn-advanced:focus span {
/*	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);*/
	left: 100%;
}

.grve-btn.grve-btn-advanced:hover:before,
.grve-btn.grve-btn-advanced:focus:before {
	left: 0;
}

.grve-btn-large {
	font-size: 16px !important;
}

.grve-btn-medium {
	font-size: 13px !important;
}

input[type="submit"],
.grve-btn-small {
	font-size: 12px !important;
}

.grve-btn-extrasmall {
	font-size: 10px !important;
}

/*-- Buttons Aligns --*/
.grve-align-left .grve-btn {
	margin-left: 0px;
}

.grve-align-right .grve-btn {
	margin-right: 0px;
}


/**
* Quotes
* ----------------------------------------------------------------------------
*/

/*-- Style 2 --*/
blockquote.grve-style-2 {
	border:none;
	position:relative;
	padding-left:40px;
}

blockquote.grve-style-2:before {
	content: "";
	background-image: url('../images/graphics/quote-icon.svg');
	background-color: transparent !important;
	position:absolute;
	width: 30px;
	height: 24px;
	left: 0px;
	top: 0px;
	z-index: 1;
}


/**
* Drop Caps
* ----------------------------------------------------------------------------
*/

.grve-dropcap span.grve-style-1 {
	 float: left;
	 font-size: 3em;
	 line-height: 1em;
	 margin:4px 8px 0px 3px;
}

.grve-dropcap span.grve-style-2 {
	width:40px;
	height:40px;
	display: inline-block;
	float: left;
	line-height: 40px;
	text-align:center;
	font-size: 2.5em;
	margin:4px 6px 0px 0px;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}


/**
* Call Out
* ----------------------------------------------------------------------------
*/
.grve-callout-content {
	font-weight: 400;
}

/* Style 01 */
.grve-callout.grve-style-1 {
	padding: 20px;
	position: relative;
	background-color: #FFF;
}

.grve-callout.grve-style-1:before {
	content: "";
	position: absolute;
	left: -1px;
	top: 0px;
	height: 100%;
	width: 3px;
}

.grve-callout.grve-style-1  p {
	margin-bottom: 0px;
}

.grve-callout.grve-style-1 .grve-callout-content {
	margin-bottom: 5px;
}

.grve-callout.grve-style-1  .grve-btn {
	position: absolute;
	margin: 0;
	top: 50%;
	right: 20px;
	z-index: 1;
	-webkit-transform: translate(0px, -50%);
	transform: translate(0px, -50%);
}

/* Style 02 */
.grve-callout.grve-style-2 {
	font-size: 2em;
	text-align: center;
}

.grve-callout.grve-style-2 .grve-callout-content {
	display: block;
}

.grve-callout.grve-style-2 .grve-callout-title {
	margin: 0px 15px;
	display: inline-block;
	vertical-align: middle;
}

.grve-callout.grve-style-2  .grve-btn {
	margin: 0px;
	vertical-align: middle;
	position: relative;
}


/**
* List
* ----------------------------------------------------------------------------
*/

.grve-list ul {
	list-style: none;
	margin: 0;
}

 .grve-list li {
	font-size: .95em;
	line-height: 24px;
	padding: 0 0 0 20px;
	margin-bottom: 1em;
	position: relative;
}

.grve-list li:before {
	width: 12px;
	height: 12px;
	line-height: 12px;
	display: inline-block;
	text-align: center;
	position: absolute;
	left: 0px;
	top: 0px;
}

/* List Check */
.grve-list.grve-list-check li:before {
	content: "\f00c";
	font-family: FontAwesome;
}

/* List Angle Double Right */
.grve-list.grve-list-angle-double-right li:before {
	content: "\f101";
	font-family: FontAwesome;
}

/* List Angle Right  */
.grve-list.grve-list-angle-right li:before {
	content: "\f105";
	font-family: FontAwesome;
}

/* List Circle  */
.grve-list.grve-list-circle li:before {
	content: "\f111";
	font-family: FontAwesome;
}

/* List Square */
.grve-list.grve-list-square li:before {
	content: "\f0c8";
	font-family: FontAwesome;
}

/* List Plus */
.grve-list.grve-list-plus li:before {
	content: "\f067";
	font-family: FontAwesome;
}

/* List Minus */
.grve-list.grve-list-minus li:before {
	content: "\f068";
	font-family: FontAwesome;
}

/* List Pencil */
.grve-list.grve-list-pencil li:before {
	content: "\f040";
	font-family: FontAwesome;
}

/* List Info Circle*/
.grve-list.grve-list-info-circle li:before {
	content: "\f05a";
	font-family: FontAwesome;
}

/**
* Info Message
* ----------------------------------------------------------------------------
*/

.grve-message {
	padding: 20px 40px 20px 60px;
	border: 1px solid;
	display: inline-block;
	width: 100%;
}

.grve-message p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.grve-message .grve-icon ,
.grve-message .grve-close {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.grve-icon {
	left: 20px;
	font-size: 2em;
}

.grve-close {
	right: 20px;
	cursor: pointer;
}


/**
* Slogan
* ----------------------------------------------------------------------------
*/

.grve-slogan-subtitle {
	font-size: 1.8em;
	line-height: 1.2;
}

.grve-slogan-title {
	margin-bottom:15px;
	line-height: 1.2;
}

.grve-slogan p {
	margin-bottom: 15px;
	font-size: 1.8em;
	font-family: 'Source Sans Pro Light';
	line-height: 1.5;
}

.grve-slogan.grve-align-center .grve-btn {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
}

.grve-slogan.grve-align-left .grve-btn {
	margin-right: 10px;
	margin-bottom: 0px;
}

.grve-slogan.grve-align-right .grve-btn {
	margin-left: 10px;
	margin-bottom: 0px;
}


/**
* Single Image
* ----------------------------------------------------------------------------
*/

.grve-single-image.grve-align-left,
img.grve-align-left {
	float:left;
	margin: 0px 10px 0px 0px;
	z-index: 1;
}

.grve-single-image.grve-align-right,
img.grve-align-right {
	float:right;
	margin: 0px 0px 0px 10px;
	z-index: 1;
}

.grve-single-image.grve-align-center,
img.grve-align-center {
	display: block;
	margin: 0px auto;
	z-index: 1;
}

.grve-single-image {
	position: relative;
}

.grve-image-wrapper {
	position: relative;
	display: inline-block;
	position: relative;
}

.grve-single-image .grve-caption {
	font-size: 0.7em;
	letter-spacing: 0.15em;
	position: absolute;
	left: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	padding: 0px 8px;
	width: 27px;
	height: 27px;
	line-height: 27px;
	overflow: hidden;
	-webkit-transition: width 0.2s ease;
	-moz-transition: width 0.2s ease;
	-o-transition: width 0.2s ease;
	-ms-transition: width 0.2s ease;
	transition: width 0.2s ease;
	text-align: left;
}

.grve-single-image .grve-caption:before {
	content: "\f05a";
	font-family: FontAwesome;
	font-size: 14px;
	margin-right: 10px;
}

.grve-image-wrapper:hover .grve-caption {
	width: 100%;
}


/**
* Image Text
* ----------------------------------------------------------------------------
*/

.grve-image-text .grve-image,
.grve-image-text .grve-content {
	width: 50%;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-right: -2px;
}

.grve-image-text .grve-image {
	padding-right: 15px;
}

.grve-image-text .grve-content {
	padding-left: 15px;
}

.grve-image-text .grve-image img {
	width: 100%;
}

.grve-image-text .grve-btn {
	margin: 0px;
}


/**
* Tables
* ----------------------------------------------------------------------------
*/

.grve-style-2 tr:first-child{
	border-bottom: none;
}

.grve-style-2  td:last-child {
	border: none;
}


/**
* Pricing Table
* ----------------------------------------------------------------------------
*/

.grve-pricing-table {
	text-align: center;
	border: 1px solid;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
}

.grve-pricing-table ul {
	list-style: none;
	margin: 0;
}

.grve-pricing-table ul li {
	line-height: 30px;
	padding: 10px;
	border-bottom: 1px dotted;
}

.grve-pricing-title {
	line-height: 1;
	margin: 0px;
	padding: 10px;
	background-color: #434343;
	color: #fff !important;
}

.grve-pricing-feature .grve-pricing-title {
	background-color: rgba(0,0,0,0.1);
}

.grve-price {
	font-weight: bold;
	line-height: 1;
	vertical-align: bottom;
	margin: 0px;
	padding: 20px 10px;
}

.grve-price span {
	font-size: 0.6em;
	vertical-align: bottom;
	line-height: 1.3;
	font-weight: normal;
}

.grve-pricing-table .grve-btn {
	margin: 15px 0px;
}


/**
* Box Elements
* ----------------------------------------------------------------------------
*/
.grve-box .grve-media {
	margin-bottom: 10px;
}

.grve-box-title {
	margin: 0px 0px 5px 0px;
	display: inline-block;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.grve-icon-box .grve-box-title {
	margin: 15px 0px 10px 0px;
	display: inline-block;
}

.grve-align-center .grve-box-content {
	margin-top: 8px;
}

.grve-align-center.grve-icon-box {
	padding-bottom: 20px;
}

/* Icon Box */
.grve-icon-box .grve-icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	left: 0px;
	top:8px;
	line-height: 75px;
	text-align: center;
	font-size: 30px;
	border: 1px solid;
	position: relative;
	overflow: visible;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.grve-icon-box .grve-icon:after {
	content: '';
	position: absolute;
	width: 80px;
	height: 80px;
	top: -9px;
	left:-9px;
	opacity: 0.8;
	border: 8px solid rgba(0,0,0,0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transform: scale(1.2);
	-moz-transition: scale(1.2);
	-o-transition: scale(1.2);
	transition: scale(1.2);
}

.grve-icon-box:hover .grve-icon:after {
	border: 8px solid;
	-webkit-transform: scale(1);
	-moz-transition: scale(1);
	-o-transition: scale(1);
	transition: scale(1);
}

.grve-icon-box.grve-white-box:hover .grve-icon {
	-webkit-transform: scale(0.8);
	-moz-transition: scale(0.8);
	-o-transition: scale(0.8);
	transition: scale(0.8);
}

.grve-icon-box .grve-icon img {
	width: 30px;
	height: 30px;
	margin: 23px;
}

.grve-icon-box:after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 50%;
	height: 1px;
	width: 0px;
	-webkit-transform: translate(-50%, 0px);
	transform: translate(-50%, 0px);
	-webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grve-icon-box:hover:after {
	width: 150px;
}

.grve-icon-box.grve-white-box:after,
.grve-icon-box.grve-align-left:after,
.grve-icon-box.grve-align-right:after {
	height: 0;
}

.grve-icon-box.grve-align-left .grve-icon{
	position: absolute;
	top: 8px;
	left: 5px;
}

.grve-icon-box.grve-white-box.grve-align-left .grve-icon{
	position: absolute;
	top: 20px;
	left: 20px;
}

.grve-icon-box.grve-align-right .grve-icon{
	position: absolute;
	top: 8px;
	left: 100%;
	margin-left: -85px;
}

.grve-icon-box.grve-align-left .grve-box-content {
	padding-left: 110px;
	min-height: 110px;
}

.grve-icon-box.grve-align-right .grve-box-content {
	padding-right: 110px;
	min-height: 110px;
}

.grve-icon-box.grve-align-left .grve-box-title,
.grve-icon-box.grve-align-right .grve-box-title {
	margin-top: 0px;
}

/* Icon Box Small */
.grve-icon-box-small .grve-icon {
	font-size: 25px;
	position: absolute;
	line-height: 1;
	top: 0;
	left: 0;
}

.grve-icon-box-small.grve-white-box .grve-icon {
	top: 20px;
	left: 20px;
}

.grve-icon-box-small .grve-icon img{
	width: 20px;
	height: 20px;
	margin-top: 2px;
}

.grve-icon-box-small .grve-box-title {
	margin: 0px 0px 5px 0px;
	display: inline-block;
	padding-left: 35px;
}

/* White Boxes */
.grve-white-box {
	padding: 20px;
	background-color: #fff;
	background-color: rgba(255,255,255,0.9);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	margin: 5px 0px;
}


/**
* Accordion & Toggles
* ----------------------------------------------------------------------------
*/

.grve-accordion .grve-content,
.grve-toggle .grve-content {
	display: none;
	padding-left: 30px;
	margin-bottom: 15px;
}

.grve-element.grve-accordion .grve-content p,
.grve-element.grve-toggle .grve-content p {
	margin-top: 0px;
	margin-bottom: 15px;
}

.grve-accordion .active > .grve-content,
.grve-toggle .active > .grve-content {
	display: block;
}

.grve-accordion .grve-title,
.grve-toggle .grve-title {
	font-size: 1.077em;
	cursor: pointer;
	font-weight: 600;
	margin-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	display: inline-block;
	width: 100%;
}

.grve-accordion.grve-style-2 .grve-title,
.grve-toggle.grve-style-2 .grve-title {
	margin-bottom: 15px;
}

.grve-accordion .grve-title:before,
.grve-toggle .grve-title:before {
	content: "\f105";
	font-size: 10px;
	opacity: 0.5;
	font-family: FontAwesome;
	position: absolute;
	top: 0px;
	left: 1px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
}

.grve-accordion .grve-title.active:before,
.grve-toggle .grve-title.active:before {
	opacity: 1;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}

.grve-accordion.grve-style-2 .grve-title,
.grve-toggle.grve-style-2 .grve-title {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid;
}

.grve-accordion.grve-style-2 .grve-title:before,
.grve-toggle.grve-style-2 .grve-title:before {
	opacity: 1;
	top: 10px;
	left: 5px;
}

.grve-accordion-wrapper,
.grve-toggle-wrapper {
	list-style: none;
	margin: 0;
}

.grve-accordion-wrapper .grve-element,
.grve-toggle-wrapper .grve-element {
	margin: 0px;
}


/**
* Tabs
* ----------------------------------------------------------------------------
*/
.grve-tabs-title {
	display: inline-block;
	width: 100%;
	list-style: none;
	margin: 0;
}

.grve-tabs-title li {
	cursor: pointer;
	padding: 10px;
	opacity: 0.7;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
}

.grve-tabs-title li.active {
	opacity: 1;
	cursor: default;
}

.grve-tabs-wrapper {
	overflow: hidden;
}

.grve-tab-content {
	display: none;
}

.grve-tab-content .grve-element {
	margin-top: 0px;
}

.grve-element .grve-tab-content  p{
	margin-top: 0px;
}

.grve-tab-content.active {
	display: block;
}

/* Horizontal Tab */
.grve-horizontal-tab .grve-tabs-title {
	border: 1px solid;
	opacity: 0;
}

.grve-horizontal-tab .grve-tabs-title li {
	display: table-cell;
	text-align: center;
}

.grve-horizontal-tab .grve-tabs-title:after {
	display: block;
	content: " ";
	clear: both;
}

.grve-horizontal-tab .grve-tabs-title li {
	border-left: 1px solid;
}

.grve-horizontal-tab .grve-tabs-title li:first-child {
	border: none;
}

.grve-horizontal-tab .grve-tab-content {
	padding: 18px 0 0 0;
}

/* Vertical Tab */
.grve-vertical-tab .grve-tabs-title {
	float: left;
	width: 30%;
	min-width: 120px;
	max-width: 250px;
	display: block;
}

.grve-vertical-tab .grve-tabs-title li {
	border-top: 1px solid;
}

.grve-vertical-tab .grve-tabs-title li:first-child {
	border-top: none;
}

.grve-vertical-tab .grve-tabs-title li:last-child {
	margin-bottom: 30px;
}

.grve-vertical-tab .grve-tab-content {
	padding: 0px 0px 0px 20px;
}


/**
* Progress Bars
* ----------------------------------------------------------------------------
*/
.grve-progress-bar {
	overflow: hidden;
}

.grve-bar-title {
	margin-bottom: 5px;
}

.grve-bar-line {
	width: 0px;
	height: 13px;
}

.grve-bar {
	display:block;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	overflow: hidden;
	z-index: 1;
	border: 2px solid;
	background: url(../images/graphics/striped.png) repeat;
}

.grve-percentage {
	position: absolute;
	top: 50%;
	left: 0px;
	line-height: 1;
	color: #fff;
	margin: 10px 0px 0px -30px;
	font-size: 10px;
}


/**
* Carousel
* ----------------------------------------------------------------------------
*/

.grve-carousel {
	opacity:0;
}

.grve-carousel .grve-media {
	margin: 0px;
}

.grve-carousel-item {
	float:left;
	margin:0px 15px;
	position: relative;
}

.grve-carousel-item img {
	width: 100%;
}

.grve-carousel-wrapper {
	margin-right: -15px;
	margin-left: -15px;
}

.grve-carousel-inner {
	cursor: -moz-grab!important;
	cursor: -webkit-grab!important;
}

.grve-carousel-inner.active {
	cursor: -moz-grabbing!important;
	cursor: -webkit-grabbing!important;
}

.grve-fullwidth-element .grve-carousel-item {
	margin: 0px;
}


.grve-carousel-item img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.grve-carousel-item:hover img {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	filter: grayscale(0);
}

.grve-carousel-btn {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 60px;
	height: 60px;
	z-index: 4;
	background: url(../images/graphics/carousel-btn.svg);
}

.grve-carousel-item .grve-hover-subtitle{
	margin-top: 0px;
}

.grve-carousel figure {
	margin: 0;
	position: relative;
}

.grve-carousel figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
}

.grve-carousel figure {
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grve-carousel figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.no-touch .grve-carousel figure:hover img,
.grve-carousel figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.grve-carousel figcaption {
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .grve-carousel figure:hover figcaption,
.grve-carousel figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.grve-carousel figcaption .grve-btn {
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	margin: 0px;
	padding: 1em 1.692em !important;
}

.grve-carousel .grve-hover-title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 50%;
	font-size: 18px;
	font-weight: 300;
	display: block;
	color: #fff;
}

.grve-carousel .grve-hover-subtitle {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 50%;
	font-size: 12px;
	margin-top: 5px;
	opacity: 0.4;
	display: block;
	color: #fff;
	vertical-align: top;
	line-height: 1.2;
}

.grve-carousel[data-columns="5"] figcaption,
.grve-carousel[data-columns="6"] figcaption {
	height: 100%;
}

.grve-carousel[data-columns="5"] .grve-hover-title,
.grve-carousel[data-columns="6"] .grve-hover-title {
	width: 100%;
	text-align: center;
}

.grve-carousel[data-columns="5"] .grve-btn,
.grve-carousel[data-columns="6"] .grve-btn {
	position: relative;
	top: 20px;
	right: auto;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	margin: 0px;
	display: block;
	text-align: center;
}

.grve-carousel[data-columns="6"] .grve-btn {
	top: 10px;
}

.grve-carousel[data-columns="5"] .grve-hover-subtitle,
.grve-carousel[data-columns="6"] .grve-hover-subtitle{
	display:none;
}

/**
* Testimonial
* ----------------------------------------------------------------------------
*/
.grve-testimonial-carousel {
	text-align: center;
	position: relative;
	padding-bottom: 30px;
}

.grve-testimonial-carousel ul.slides {
	list-style: none;
	margin: 0;
}

.grve-testimonial-carousel .grve-testimonial-name {
	margin: 0px 0px 15px 0px;
	opacity: 0.6;
}

.grve-testimonial-content p {
	font-size: 24px;
	line-height: 40px;
	font-family: 'Source Sans Pro ExtraLight';
	margin-bottom: 10px;
}

/*  Testimonial Style 2 */
.grve-testimonial-carousel.grve-style-2 {
	text-align: left;
	width: 98%;
}

.grve-style-2 .grve-testimonial-person {
	float: left;
	width: 82px;
}

.grve-testimonial-carousel.grve-style-2  .grve-testimonial-name {
	margin: 0.3em 0px;
}

.grve-testimonial-carousel .flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
}

.grve-style-2 .grve-testimonial-content {
	overflow: hidden;
	padding: 0px 30px;
}

.grve-testimonial-carousel.grve-style-2 .flex-control-nav {
	top: 20px;
	right: -40px;
	bottom: auto;
	width: 30px;
}

.grve-testimonial-carousel.grve-style-2 .flex-control-nav li {
	display: block;
	margin: 6px 0px;
}

.grve-testimonial-carousel .flex-control-paging li a {
	background-color: rgba(255,255,255,0.1);
	width: 8px;
	height: 8px;
	display: inline-block;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}

.grve-testimonial-carousel .flex-control-paging li a:hover,
.grve-testimonial-carousel .flex-control-paging li a.flex-active {
	background-color: #fff;
	-webkit-box-shadow: 0 0 0 2px rgba(0,0,0,0.3);
	box-shadow: 0 0 0 2px rgba(0,0,0,0.3);
}

.grve-testimonial-carousel  .flex-control-nav {
	bottom: 0px;
	width: 100%;
	position: absolute;
	text-align: center;
	margin: 0;
	list-style: none;
}


/**
* Slider
* ----------------------------------------------------------------------------
*/
.grve-slider {
	overflow: hidden;
	position: relative;
}

.grve-slider .slides {
	list-style: none;
	margin: 0;
}

.grve-slider li img {
	width: 100%;
}

.grve-slider li {
	position: relative;
	z-index: 0;
}

/* For Clone Slide */
.slides .clone .grve-bg-image {
	opacity: 1;
}

/* Direction Nav */
.grve-slider .flex-direction-nav {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 990;
	opacity: 0px;
	visibility: hidden;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.grve-slider:hover .flex-direction-nav {
	opacity: 1px;
	visibility: visible;
}

.grve-feature-element.grve-slider .flex-direction-nav {
	right: 30px;
	opacity: 1px;
	visibility: visible;
}

.grve-slider .flex-direction-nav li {
	display: inline-block;
	-webkit-transform: translate(0, 0px);
	transform: translate(0, 0px);
}

.grve-feature-element.grve-slider .flex-direction-nav li {
	-webkit-transform: translate(0, 30px);
	transform: translate(0, 30px);
}

.grve-slider .flex-direction-nav li a {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url(../images/graphics/arrows.svg);
	background-position: 0px -30px;
}

.grve-slider .flex-direction-nav li a.flex-next {
	right: 0px;
	margin-left: 1px;
	background-position: 0px 0px;
}

/* Control Nav */
.grve-slider .flex-control-nav {
	display: block;
	text-align: center;
	position: absolute;
	right: 20px;
	top: 50%;
	font-size: 0;
	z-index: 2;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.grve-slider .flex-control-nav li {
	margin: 15px 0px;
}

.grve-slider  .flex-control-nav li a {
	background-color: rgba(255,255,255,0.1);
	width: 8px;
	height: 8px;
	display: inline-block;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}

.grve-slider  .flex-control-nav li a:hover,
.grve-slider  .flex-control-nav li a.flex-active {
	background-color: #fff;
	-webkit-box-shadow: 0 0 0 2px rgba(0,0,0,0.3);
	box-shadow: 0 0 0 2px rgba(0,0,0,0.3);
}

/* Slider Caption */
.grve-slider-caption {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0px;
	z-index: 2;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.grve-slider-caption-content {
	display: inline-block;
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}

.grve-slider-caption.grve-slider-caption-content{
	max-width: 50%;
	float: left;
}

.grve-slider-caption-content .grve-title,
.grve-slider-caption-content .grve-subtitle {
	margin: 0px;
	line-height: 1;
}

.grve-slider-caption-content .grve-btn {
	margin-top: 30px;
}

.grve-feature-element.grve-slider img {
	width: 100%;
}

/**
* Revolution Slider
* ----------------------------------------------------------------------------
*/
.tp-rightarrow.default {
	width: 30px;
	height: 30px;
	background: url(../images/graphics/arrows.svg) 0 0;
}

.tp-leftarrow.default {
	width: 30px;
	height: 30px;
	background: url(../images/graphics/arrows.svg) 0 -30px;
}

/**
* Map
* ----------------------------------------------------------------------------
*/

.grve-map  img {
	max-width: inherit;
}


/**
* Media
* ----------------------------------------------------------------------------
*/

.grve-media {
	margin-bottom: 30px;
	position: relative;
}

.grve-blog-masonry .grve-media {
	margin-bottom: 0px;
}


/**
* Gallery
* ----------------------------------------------------------------------------
*/
.grve-gallery .grve-isotope-container {
	margin-left: -1px;
	margin-right: -1px;
}

.grve-gallery .grve-isotope-item {
	padding: 1px;
	margin-bottom: 0px;
}

.grve-gallery .grve-media {
	margin-bottom: 0px;
}

.grve-gallery.grve-fullwidth-element .grve-isotope-container,
.grve-gallery.grve-fullwidth-element .grve-isotope-item {
	margin: 0px;
	padding: 0px;
}

.grve-gallery img {
	width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.grve-gallery:hover img {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	filter: grayscale(0);
}

/* Stamp Gallery */
.grve-stamp-masonry {
	opacity: 0;
	margin-bottom: 30px;
}

.grve-stamp-masonry .grve-stamp-element {
	padding: 1px;
}

.grve-stamp-masonry  img {
	width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.grve-stamp-masonry:hover img {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	filter: grayscale(0);
}



/**
* Blog
* ----------------------------------------------------------------------------
*/

/* Blog General Settings */
.grve-blog .grve-media img ,
.grve-blog-masonry .grve-media img {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	width: 100%;
}

.grve-media:hover .grve-slider img {
	opacity: 1;
}

.grve-blog .grve-isotope-item {
	margin-bottom: 50px;
	position: relative;
}

.grve-blog .grve-standard-item {
	margin-bottom: 100px;
	position: relative;
}

.grve-search-page .grve-isotope-item {
	margin-bottom: 30px;
	position: relative;
}

.grve-search-page .grve-search-item-content {
	padding: 20px;
	background-color: #FFFFFF;
	border: 1px solid;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.grve-post-content {
	position: relative;
}

.grve-post-title {
	margin-bottom: 0.278em;
	line-height: 1.2;
	overflow: hidden;
	display: inline-block;
}


.grve-post-meta,
.grve-comment-date {
	font-size: 0.8em;
	margin-bottom: 10px;
	line-height: 1.2;
}

.grve-post-meta span:before,
.grve-comment-date:before {
	margin-right: 3px;
	font-size: 0.9em;
}

.grve-post-meta span:after  {
	margin-left: 5px;
	margin-right: 5px;
	content:"/";
}

.grve-post-meta span:last-child:after {
	content:"";
}

.grve-post-date:before,
.grve-comment-date:before {
	content: "\f017";
	font-family: FontAwesome;
}

.grve-post-comments:before {
	content: "\f086";
	font-family: FontAwesome;
}

.grve-read-more {
	float: left;
	margin-top: -20px;
}

/* Blog columns */
.grve-blog .grve-isotope-container[data-columns="2"] .grve-media {
	float: left;
	width: 40%;
	margin-right: 30px;
	margin-bottom: 0px;
}

.grve-blog .grve-isotope-container[data-columns="2"] .grve-post-content {
	overflow: hidden;
}

.grve-blog .grve-isotope-container[data-columns="2"] .grve-post-categories {
	display: none;
}

.grve-blog .grve-isotope-container[data-columns="2"] .grve-post-comments:after {
	content: "";
}

.grve-left-sidebar .grve-blog .grve-isotope-container[data-columns="2"] .grve-media,
.grve-right-sidebar .grve-blog .grve-isotope-container[data-columns="2"] .grve-media {
	float: none;
	width: 100%;
	margin-right: 0px;
	margin-bottom: 30px;
}

.grve-blog .grve-isotope-container[data-columns="2"] .sticky .grve-media {
	margin: 0px;
}

/* Blog Masonry */
.grve-blog-masonry .grve-post-content{
	border: 1px solid;
	background-color: #ffffff;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.05);
	box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.grve-blog-masonry .grve-post-content {
	padding: 20px;
}

.grve-blog-masonry .grve-post-media {
	margin-bottom: 0px;
}

/* Blog Large Media */
.grve-blog-large-media  .grve-post-author {
	position: absolute;
	width: 80px;
	text-align: center;
	left: 0;
	top: 0;
}

.grve-blog-large-media .grve-post-author .grve-author-image {
	display: block;
	margin-bottom: 10px;
}

.grve-blog-large-media .grve-post-content {
	padding-left: 110px;
	min-height: 80px;
}

/* Blog Small Media */
.grve-blog-small-media .grve-media {
	width: 30%;
	float:left;
	margin-right: 30px;
}


.grve-blog-small-media .grve-post-content {
	overflow: hidden;
}

/* Blog Quote */
.format-quote blockquote {
	position: relative;
	padding-left: 0;
	margin-bottom: 0;
}

.format-quote blockquote:before {
	display: none;
}

.grve-post-quote:before {
	content: "";
	background-image: url('../images/graphics/quote-icon.svg');
	position: absolute;
	width: 30px;
	height: 24px;
	left: 25px;
	top: 25px;
	z-index: 1;
}

.grve-single-post.grve-post-quote:before {
	left: 25px;
}

.grve-post-quote .grve-post-content {
	padding: 20px 20px 10px 80px;
	border: 1px solid;
}

.grve-post-quote .grve-post-title {
	line-height: 1.6;
	white-space:normal;
}

/* Blog Link */
.grve-post-link:before {
	content: "";
	background-image: url('../images/graphics/link-icon.svg');
	position: absolute;
	width: 30px;
	height: 30px;
	left: 25px;
	top: 30px;
	z-index: 1;
}

.grve-post-link .grve-post-content {
	padding: 20px 20px 10px 80px;
	border: 1px solid;
}

.grve-post-link .grve-post-content p,
.grve-single-post.grve-post-link .grve-post-content p,
.grve-post-quote .grve-post-content p,
.grve-single-post.grve-post-quote .grve-post-content p{
	line-height: 1.6;
	font-size: 24px;
	margin-bottom: 10px !important;
}

.grve-single-post.grve-post-quote {
	margin-bottom: 30px;
	position: relative;
}

/* Blog Masonry Quote Link */
.grve-isotope-container[data-layout="masonry"] .grve-post-quote:before {
	content: "";
	background-image: url('../images/graphics/quote-icon.svg');
	position: absolute;
	width: 30px;
	height: 24px;
	left: 40px;
	top: 25px;
	z-index: 1;
}

.grve-isotope-container[data-layout="masonry"] .grve-post-quote:before,
.grve-isotope-container[data-layout="masonry"] .grve-post-link:before {
	position: relative;
	left: 0px;
	top: 50px;
	display: block;
	margin: 0px auto;
	z-index: 1;
}

.grve-isotope-container[data-layout="masonry"] .grve-post-quote .grve-post-content ,
.grve-isotope-container[data-layout="masonry"] .grve-post-link .grve-post-content {
	padding: 70px 20px 10px 20px;
	text-align: center;
}

.grve-isotope-container[data-layout="masonry"] .grve-post-quote .grve-post-meta ,
.grve-isotope-container[data-layout="masonry"] .grve-post-link .grve-post-meta {
	margin: 5px -20px 10px -20px;
	padding: 20px 20px 0px 20px;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.1);
}

/* Blog Labeled */

.grve-blog-label .grve-filter li {
	cursor: pointer;
	height: 30px;
	line-height: 28px;
	padding: 0px 0px 0px 30px;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: bottom;
	position: relative;
	-webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	font-family: inherit;
}

.grve-blog-label .grve-filter li:before {
	font-size: 14px;
	width: 30px;
	height: 30px;
	line-height: 28px;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	text-align: center;
	left: 0px;
	position: absolute;
}

.grve-filter li:before {
	font-family:'FontAwesome' !important;
}

.grve-blog-label .grve-filter li.selected {
	cursor: default;
}

.grve-blog-label .grve-filter li i {
	font-size: 14px;
	width: 30px;
	height: 30px;
	line-height: 28px;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	text-align: center;
	left: 0px;
	position: absolute;
}

.grve-blog-label .grve-isotope-item {
	margin-bottom: 30px;
}

.grve-blog-label .grve-post-wraper {
	border: 1px solid;
	display: block;
}

.grve-blog-label .grve-post-format {
	width: 50px;
	height: 50px;
	float: left;
	overflow: hidden;
}

.grve-blog-label .grve-post-format:before,
.grve-blog-label .grve-post-format:after {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	text-align: center;
	position: relative;
	top: 0;
	float: left;
	-webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.grve-blog-label .grve-post-wraper:hover .grve-post-format:before,
.grve-blog-label .grve-post-wraper:hover .grve-post-format:after  {
	top: -50px;
}

.grve-blog-label .grve-post-date {
	opacity: 0.5;
	font-size: 12px;
	margin-left: -3px;
	line-height: 1;
	vertical-align: top;
}

.grve-blog-label .grve-post-date:before {
	content: '';
	margin: 0px;
}

.grve-blog-label .grve-post-content {
	overflow: hidden;
	padding: 8px;
	border-left: 1px solid;
	height: 50px;
}

.grve-blog-label .grve-post-title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin: 0px;
	vertical-align: top;
	line-height: 1.2;
	margin-top: -8px;
}

/* Sticky Post */
.sticky .grve-post-content {
	background-color: #F5F5F5 !important;
	border: 1px solid;
}

.sticky .grve-media {
	margin-bottom: 0px;
}

/* Sticky Large Media */
.grve-blog-large-media .sticky.format-standard .grve-post-content,
.grve-blog-large-media .sticky.format-gallery .grve-post-content,
.grve-blog-large-media .sticky.format-video .grve-post-content,
.grve-blog-large-media .sticky.format-audio .grve-post-content {
	padding: 20px 20px 20px 120px;
}

.grve-blog-large-media .sticky .grve-post-author {
	left: 20px;
	top: 25px;
}

/* Sticky Small Media */
.grve-blog-small-media .sticky .grve-media {
	margin-right: 0px;
}

.grve-blog-small-media .sticky.format-standard .grve-post-content,
.grve-blog-small-media .sticky.format-gallery .grve-post-content,
.grve-blog-small-media .sticky.format-video .grve-post-content,
.grve-blog-small-media .sticky.format-audio .grve-post-content {
	padding: 30px;
}

/* Sticky Labeled */
.grve-blog-label .sticky .grve-post-content {
	border: none;
}

/* Sticky 2 columns */
.grve-blog .grve-isotope-container[data-columns="2"] .sticky .grve-media {
	margin-right: 0px;
}

.grve-blog .grve-isotope-container[data-columns="2"] .sticky.format-standard .grve-post-content,
.grve-blog .grve-isotope-container[data-columns="2"] .sticky.format-gallery .grve-post-content,
.grve-blog .grve-isotope-container[data-columns="2"] .sticky.format-video .grve-post-content,
.grve-blog .grve-isotope-container[data-columns="2"] .sticky.format-audio .grve-post-content {
	padding: 30px;
}

/* Sticky 3 columns */
.grve-blog .grve-isotope-container[data-columns="3"] .sticky.format-standard .grve-post-content,
.grve-blog .grve-isotope-container[data-columns="3"] .sticky.format-gallery .grve-post-content,
.grve-blog .grve-isotope-container[data-columns="3"] .sticky.format-video .grve-post-content,
.grve-blog .grve-isotope-container[data-columns="3"] .sticky.format-audio .grve-post-content {
	padding: 30px;
}


/**
* Portfolio
* ----------------------------------------------------------------------------
*/

/* Portfolio General */
.grve-portfolio-title {
	margin: 0px;
	display: inline-block;
}

.grve-portfolio .grve-isotope-container[data-layout="masonry"] {
	margin: 0px -1px;
}

.grve-portfolio .grve-isotope-container[data-layout="masonry"] .grve-isotope-item{
	padding: 0px 1px;
	margin-bottom: 2px;
}

.grve-portfolio.grve-fullwidth-element .grve-isotope-container[data-layout="masonry"] .grve-isotope-item{
	padding: 0px;
	margin-bottom: 0px;
}

.grve-portfolio .grve-media{
	margin-bottom: 0px;
}

.grve-portfolio .grve-isotope-container[data-layout="masonry"] .grve-media{
	margin-bottom: 0px;
}

.grve-portfolio img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	width: 100%;
}

.grve-portfolio:hover img {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	filter: grayscale(0);
}

#grve-portfolio-title {
	position: relative;
	padding: 60px 0px 10px 0px;
}


/**
* Form
* ----------------------------------------------------------------------------
*/

.grve-form {
	margin-left: -6px;
	margin-right: -6px;
}

.grve-form-input {
	width:33.33333333333333%;
	float: left;
	padding: 0px 6px;
	position: relative;
}

.grve-form-textarea {
	width:100%;
	float: left;
	padding: 6px;
	position: relative;
}

.comment-notes,
.logged-in-as {
	padding-left: 6px;
	padding-right: 6px;
}

.comment-form {
	margin-left: -6px;
	margin-right: -6px;
}

.grve-form-input i {
	position: absolute;
	top: 50%;
	left: 20px;
	-webkit-transform: translate(0%, -50%);
	transform: translate(0, -50%);
	font-size: 12px;
	opacity: 0.8;
}

.grve-form-input input[type='text'],
.grve-form-input input[type='email'] {
	width: 100%;
	padding-left: 35px;
}

.grve-form-textarea textarea {
	width: 100%;
}

.grve-form-textarea textarea {
	min-height: 300px;
	overflow-y: hidden;
}

.grve-form .grve-btn {
	margin: 0px 0px 0px 6px;
}

.grve-form-result.active {
	display: inline-block;
	line-height: 40px;
	margin-left: 15px;
	color: #f00;
}

.comment-form .form-submit {
	margin-bottom: 0px;
}

/* Contact Form 7 */

.grve-form-name,
.grve-form-mail,
.grve-form-subject {
	width:33.33333333333333%;
	float: left;
	padding: 0px 6px;
	position: relative;
}

.grve-form-textarea {
	padding: 6px;
}

.grve-form-name input,
.grve-form-mail input,
.grve-form-subject input {
	width: 100%;
	padding-left: 35px;
	line-height: 19px;
}

.grve-form-name:before {
	content: '\f007';
	font-family: FontAwesome;
	position: absolute;
	top: 10px;
	left: 18px;
}

.grve-form-mail:before {
	content: '\f0e0';
	font-family: FontAwesome;
	position: absolute;
	top: 10px;
	left: 18px;
}

.grve-form-subject:before {
	content: '\f040';
	font-family: FontAwesome;
	position: absolute;
	top: 10px;
	left: 18px;
}


/**
* Team
* ----------------------------------------------------------------------------
*/

.grve-team-media {
	position: relative;
	overflow: hidden;
}

.grve-team-person {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.grve-team-content {
	display: block;
	text-align: center;
	border-bottom: 1px solid;
	position: relative;
}

.grve-team-content:after {
	content: '';
	position: absolute;
	width: 0px;
	height: 1px;
	bottom: 0px;
	left:  50%;
	-webkit-transform: translate(-50%, 1px);
	transform: translate(-50%, 1px);
	-webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition:         all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grve-team-item:hover .grve-team-content:after {
	width: 100%;
}

.grve-team-item:hover .grve-team-content {
	border-bottom: 1px solid rgba(0,0,0,0.0) !important;
}

.grve-team-content span {
	display: block;
}

.grve-team-content .grve-team-name {
	font-size: 16px;
	font-weight: 600;
	margin-top: 15px;
}

.grve-team-content .grve-team-description {
	margin-bottom: 15px;
}

.grve-team-social {
	display: block;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid;
}

.grve-team-social ul {
	margin: 0;
	list-style: none;
}

.grve-team-social li {
	display: inline-block;
}

.grve-team-social li a {
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 24px;
	margin: 10px 5px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

/* Small Team */
.grve-smallteam-item {
	border: 1px solid;
	display: inline-block;
	width: 100%;
}

.grve-smallteam-item .grve-person-image {
	width: 50px;
	height: 50px;
	float: left;
	overflow: hidden;
}

.grve-smallteam-item .grve-first-image,
.grve-smallteam-item .grve-second-image {
	width: 50px;
	height: 50px;
	position: relative;
	top: 0;
	float: left;
	-webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.grve-smallteam-item:hover .grve-first-image,
.grve-smallteam-item:hover .grve-second-image  {
	top: -50px;
}

.grve-smallteam-item .grve-smallteam-content {
	float: left;
	padding: 6px 8px;
	border-left: 1px solid;
	height: 50px;
}

.grve-smallteam-item .grve-team-name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin: 0px;
	line-height: 1.2;
}

.grve-smallteam-item .grve-team-description {
	opacity: 0.5;
	font-size: 12px;
	line-height: 1.2;
}

.grve-smallteam-item .grve-smallteam-social {
	float: right;
	text-align: right;
	border-left: 1px solid;
	padding: 17px 10px 16px 10px;
	line-height: 1;
}

.grve-smallteam-item .grve-smallteam-social ul {
	margin: 0;
	list-style: none;
}

.grve-smallteam-item .grve-smallteam-social li {
	display: inline-block;
	margin: 0px 3px;
}

.grve-smallteam-item .grve-smallteam-social li a {
	opacity: 0.3;
	font-size: 16px;
	line-height: 16px;
	-webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.grve-smallteam-item:hover .grve-smallteam-social li a  {
	opacity: 1;
}

/**
* Partners
* ----------------------------------------------------------------------------
*/

.grve-partner-advanced li {
	position: relative;
	text-align: center;
	padding-top: 30px;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.grve-partner-advanced li:hover {
	padding-top: 60px;
	padding-bottom: 30px;
}

.grve-partner-advanced ul {
	list-style: none;
	margin: 0;
}

.grve-partner-advanced li .grve-partner-color {
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1;
}

.grve-partner-advanced li .grve-partner-logo {
	z-index: 2;
	position: relative;
	padding-bottom: 30px;
}


.grve-partner-advanced li .grve-partner-content {
	z-index: 2;
	position: relative;
}

.grve-partner-advanced li .grve-partner-content {
	display: none;
}

.grve-partner-advanced li .grve-partner-content p {
	font-size: 2em;
	font-weight: 300;
	line-height: 1.5;
}

/**
* Widgets
* ----------------------------------------------------------------------------
*/

 /* Widget Title */
.grve-widget {
	position:relative;
	margin:0px 0px 30px 0px;
}

.grve-sidebar .grve-widget-title,
footer .grve-widget-title {
	margin-bottom: 1em;
}

footer .grve-widget-title {
	font-weight: 400;
}
.grve-copyright{
    color:black;
    
}
/* Socials */
.grve-social ul {
	list-style: none;
	margin: 0;
}

.grve-social li {
	display: inline-block;
}

.grve-social li a{
	-webkit-transition: background-color 0.2s ease;
	-moz-transition: background-color 0.2s ease;
	-o-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}

.grve-social.grve-social-large li {
	margin: 0px 5px;
}

.grve-social.grve-social-large li a{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: none;
	text-align: center;
	opacity: 0.5;
	background-color: transparent !important;
}

.grve-social.grve-social-large li a:hover{
	opacity: 1;
	background-color: transparent !important;
}

.grve-social.grve-social-large li i {
	font-size: 40px;
}

.grve-social li a{
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border: 1px solid;
	text-align: center;
}

.grve-social li i {
	font-size: 15px;
	vertical-align: baseline;
}

 /* Latest News */
.grve-latest-news ul {
	list-style: none;
	margin: 0;
}

.grve-latest-news li {
	padding-left: 40px;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid;
}

.grve-latest-news .grve-title {
	margin-bottom: 0px;
	font-size: 14px;
	vertical-align: top;
	line-height: 1.2;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.grve-latest-news-date{
	font-size: 0.8em;
	opacity: 0.5;
	line-height: 1;
	margin-top: -3px;
	vertical-align: top;
}

.grve-latest-news .grve-post-format:before,
.grve-latest-news .grve-post-format:after{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	text-align: center;
	border: 1px solid;
}

 /* Popular Post */
.grve-popular-post li {
	padding-left: 15px;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid;
}

.grve-popular-post .grve-title {
	margin-bottom: 0px;
	font-size: 14px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.grve-popular-post-date{
	font-size: 0.8em;
	opacity: 0.5;
}

.grve-popular-post li:before{
	position: absolute;
	top: 4px;
	left: 0px;
	width: 10px;
	height: 10px;
	line-height: inherit;
	display: inline-block;
	text-align: center;
	content: "\f105";
	font-family: FontAwesome;
}

/* Latest Portfolio */
.grve-latest-portfolio {
	margin-bottom: 25px;
}

.grve-latest-portfolio ul {
	display: inline-block;
	width: 100%;
	list-style: none;
	margin: 0;
}

.grve-latest-portfolio li {
	display: inline-block;
}

.grve-latest-portfolio li a:hover{
	opacity: 0.8;
}

.grve-latest-portfolio li {
	width: 23.3%;
	margin-bottom: 3px;
}
.grve-latest-portfolio li:nth-child(4n) {
	margin-right: 0px;
}

 /* Archives */
.grve-archives li {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid;
}

 /* Categories */
.grve-categories li {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid;
}

/* Contact Info */
.grve-contact-info ul {
	list-style: none;
	margin: 0;
}

.grve-contact-info li {
	padding-bottom: 15px;
	padding-left: 25px;
	position: relative;
	margin-bottom: 15px;
	border-bottom: 1px solid;
}

.grve-contact-info li:before {
	position: absolute;
	font-family: FontAwesome;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
	line-height: 25px;
	display: inline-block;
	text-align: center;
	opacity: 0.2;
}

.grve-contact-info li.grve-address:before {
	content: "\f015";
}

.grve-contact-info li.grve-phone:before {
	content: "\f095";
}

.grve-contact-info li.grve-mobile-number:before {
	content: "\f10b";
}

.grve-contact-info li.grve-fax:before {
	content: "\f02f";
}

.grve-contact-info li.grve-web:before {
	content: "\f0c1";
}

.grve-contact-info li.grve-email:before {
	content: "\f0e0";
}

/* Tags */
.tagcloud  ul {
	list-style: none;
	margin: 0;
}

.tagcloud  {
	display: inline-block;
}

.tagcloud  a{
	float:left;
	margin: 0px 2px 2px 0px;
	border: 1px solid;
	display: inline-block;
	font-size: 0.8em;
	line-height: 24px;
	padding: 0 8px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}


/* Comments Widget */
.grve-widget.grve-comments ul {
	list-style: none;
	margin: 0;
}

.grve-widget.grve-comments .avatar {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	float: none;
	display: inline-block;
	vertical-align: middle;
}
.grve-widget.grve-comments li {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid;
}

.grve-widget.grve-comments .grve-comment-content {
	padding: 0px;
	margin-bottom: 0px;
	border: none;
	background: none;
	display: inline-block;
	vertical-align: middle;
}

.grve-widget.grve-comments .grve-comment-date {
	margin-bottom: 0px;
}

/* Search Widget */
.grve-search  {
	position: relative;
	max-width: 270px;
	width: 100%;
	display: inline-block;
}

.grve-search-btn {
	font-family: FontAwesome;
	border: none;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 38px;
	height: 38px;
	border-left: 1px solid;
	background-color: transparent;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.grve-search input[type='text'] {
	padding-right: 40px;
	width: 100%;
	margin: 0;
}

 /* Default WordPress Widget Styles */
.widget_calendar {}
#calendar_wrap {}
#calendar_wrap th {
	padding: 5px;
	text-align: center;
}

#calendar_wrap td {}
#wp-calendar tr td {
	padding: 5px;
	text-align: center;
}

#wp-calendar caption {}
#wp-calendar a {}
#wp-calendar #today a {
	color: #fff !important;
}

#wp-calendar th {
	background-color: transparent !important;
}

#wp-calendar #prev {}
#wp-calendar #next {}
#wp-calendar #next a {}
#wp-calendar #prev a {}
.widget_nav_menu ul,
.widget_meta ul,
.widget_archive ul,
.widget_links ul,
.widget_pages ul,
.widget_categories ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_rss ul {
	list-style: none;
	margin: 0;
}

.widget_meta ul li,
.widget_archive ul li,
.widget_links li,
.widget_categories > ul > li,
.widget_recent_entries ul li {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid;
	vertical-align: top;
	line-height: 1.2;
}

.widget_meta ul li a,
.widget_archive ul li a,
.widget_links li a,
.widget_recent_entries ul li a {
	font-size: 14px;
}

.widget_categories .children li {
	padding-left: 10px;
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px solid;
}

select {
	width: 100%;
	padding: 8px;
}

.widget_tag_cloud a {
	font-size: 0.8em !important;
}

/* RSS */
.rsswidget img {
	margin-top: 5px;
}

.widget_rss li a.rsswidget {
	display: block;
}

.widget_rss li {
	margin-bottom: 30px;
}

/* Categories, Pages & Menu Widget */
.widget_pages ul li a,
.widget_nav_menu ul li a {

}


/**
* Media Queries
* ----------------------------------------------------------------------------
*/

/* Desktops and laptops ----------- */
@media screen and (max-width: 1224px) {

	/* Blog 2 columns */
	.grve-responsive .grve-blog .grve-isotope-container[data-columns="2"] .grve-media {
		float: none;
		width: 100%;
		margin-right: 0px;
		margin-bottom: 30px;
	}

	.grve-responsive .grve-blog .grve-isotope-container[data-columns="2"] .sticky .grve-media {
		margin: 0px;
	}

	.grve-responsive  .grve-blog .grve-isotope-container[data-columns="2"] .grve-post-content {
		overflow: hidden;
	}

}

/* Tablet (landscape) ----------- */
@media screen and (max-width: 1200px) {

	/* Blog Labeled */
	.grve-responsive .grve-blog-label .grve-post-format {
		position: static;
	}

	.grve-responsive .grve-blog-label .grve-post-title,
	.grve-responsive .grve-blog-label .grve-post-date	{
		padding-left: 0px;
	}


}

/* Tablet (portrait) ----------- */
@media screen and (max-width: 959px) {

	/* Image Text */
	.grve-responsive .grve-image-text .grve-image,
	.grve-responsive .grve-image-text .grve-content {
		width: 100%;
		margin-right: 0px;
		padding: 0px;
	}

	/* Form */
	.grve-responsive .grve-form-input {
		width:100%;
		float: left;
		padding: 6px 6px;
		position: relative;
	}

	/* Call Out */
	.grve-responsive .grve-callout  .grve-btn,
	.grve-responsive .grve-callout.grve-style-2 .grve-btn {
		left: 0px;
		right: auto;
		bottom: 0px;
		top: 0px;
		margin: 15px 0px 0px 0px;
		z-index: 1;
		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
		position: relative;
	}

	.grve-responsive .grve-callout.grve-style-2 .grve-btn {
		margin: 0px;
	}

	.grve-responsive .grve-callout.grve-style-2 .grve-callout-title {
		margin-bottom: 25px;
	}

	/*Features*/
	.grve-responsive #grve-feature-section,
	.grve-responsive .grve-feature-element.grve-slider li ,
	.grve-responsive .grve-feature-element.grve-map{
		height: 400px !important;
	}

	/* blog */
	.grve-responsive .grve-post-author {
		display: none;
	}

	.grve-responsive .grve-blog-large-media .grve-post-content {
		padding-left: 0px;
	}

	.grve-responsive .grve-blog-large-media .grve-post-link .grve-post-content,
	.grve-responsive .grve-blog-large-media .grve-post-quote .grve-post-content {
		padding-left: 80px;
	}

	.grve-responsive .grve-blog-large-media .sticky.format-standard .grve-post-content,
	.grve-responsive .grve-blog-large-media .sticky.format-gallery .grve-post-content,
	.grve-responsive .grve-blog-large-media .sticky.format-video .grve-post-content,
	.grve-responsive .grve-blog-large-media .sticky.format-audio .grve-post-content {
		padding: 20px;
	}
}


/* Smartphones (landscape) ----------- */
@media screen and (max-width: 767px) {

	/* Call Out */
	.grve-responsive .grve-callout-content {
		text-align: center;
	}

	.grve-responsive .grve-callout  p {
		margin-bottom: 15px !important;
		text-align: center;
	}

	.grve-responsive .grve-callout .grve-btn {
		position: relative;
		text-align: center;
		width: 80%;
		left: 10%;
		right: 10%;
		bottom: 0px;
		top: 0px;
		margin: 0px 0px 0px 0px;
	}

	.grve-responsive .grve-callout.grve-style-2   .grve-callout-title  {
		display: block;
		margin-bottom: 15px;
	}


	/* Tab */
	.grve-responsive .grve-horizontal-tab .grve-tabs-title {
		border: none;
		opacity: 1;
	}

	.grve-responsive .grve-tabs-title {
		display:inline-block;
		width: 100%;
		float: none;
		min-width: 100%;
	}

	.grve-responsive .grve-tabs-title li {
		float: left;
		width: 100%;
		text-align: center;
		display: block;
		border: none;
		border-top: 1px solid;
		-webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0);
		box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0);
	}

	.grve-responsive .grve-tabs-wrapper {
		overflow: visible;
	}

	.grve-responsive .grve-vertical-tab .grve-tab-content {
		padding: 0px;
	}

	.grve-responsive .grve-vertical-tab .grve-tabs-title li:last-child {
		margin-bottom: 18px;
	}

	/* Blog Large Media */
	.grve-responsive .grve-blog-large-media .grve-post-author .grve-author-image {
		display: none;
	}

	/* Blog Small Media */
	.grve-responsive .grve-blog-small-media .grve-media {
		width: 100%;
		float: none;
		margin-right: 0px;
		margin-bottom: 30px;
	}

	.grve-blog-small-media .sticky .grve-media {
		margin-bottom: 0px;
	}

	/* Blog Quote */
	.grve-responsive .grve-post-quote:before {
		content: "";
		background-image: url('../images/graphics/quote-icon.svg');
		position: absolute;
		width: 30px;
		height: 24px;
		left: 40px;
		top: 25px;
		z-index: 1;
	}

	.grve-responsive .grve-post-quote:before,
	.grve-responsive .grve-post-link:before {
		position: relative;
		left: 0px;
		top: 50px;
		display: block;
		margin: 0px auto;
		z-index: 1;
	}

	.grve-responsive .grve-post-quote .grve-post-content ,
	.grve-responsive .grve-post-link .grve-post-content {
		padding: 50px 20px 10px 20px;
		text-align: center;
	}

	.grve-responsive .grve-blog-large-media .grve-post-link .grve-post-content,
	.grve-responsive .grve-blog-large-media .grve-post-quote .grve-post-content {
		padding-left: 20px;
	}

	.grve-responsive .grve-post-quote .grve-post-meta ,
	.grve-responsive .grve-post-link .grve-post-meta {
		margin: 5px -20px 10px -20px;
		padding: 20px 20px 0px 20px;
		text-align: center;
		border-top: 1px solid rgba(0,0,0,0.1);
	}

	/* Slider */
	.grve-responsive .grve-slider-caption.grve-align-left .grve-slider-caption-content{
		max-width: 100%;
		float: left;
	}

	.grve-responsive .grve-slider-caption.grve-align-right .grve-slider-caption-content {
		max-width: 100%;
		float: right;
	}

	.grve-responsive .grve-slider p {
		font-size: 9px;
		line-height: 1.2;
	}

	.grve-responsive .grve-slider .grve-btn{
		font-size: 9px !important;
	}

	/*Features*/
	.grve-responsive #grve-feature-section,
	.grve-responsive .grve-feature-element.grve-slider li ,
	.grve-responsive .grve-feature-element.grve-map{
		height: 300px !important;
	}


}


/* Smartphones (portrait) ----------- */
@media screen and (max-width: 479px) {

	/* Icon Box */
	.grve-responsive .grve-icon-box.grve-align-left .grve-icon,
	.grve-responsive .grve-icon-box.grve-align-right .grve-icon	{
		position: relative;
		margin-bottom: 20px;
		left: 0;
	}

	.grve-responsive .grve-icon-box.grve-align-left .grve-box-content  {
		padding-left: 0px;
	}

	.grve-responsive .grve-icon-box.grve-align-right .grve-box-content  {
		padding-right: 0px;
	}

	.grve-responsive .grve-post-quote .grve-post-meta ,
	.grve-responsive .grve-post-link .grve-post-meta {
		margin: 5px -20px 10px -20px;
		padding: 10px 10px 0px 10px;
		text-align: center;
		border-top: 1px solid rgba(0,0,0,0.1);
	}

}

/* Background Shortcode */

.ElementBackground{
    height:697px;
    background: url(../images/background/test.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed !important;
}
.ElementOverlap{
    background:#376d97;
    color:white;
    padding: 20px 65px 20px 65px;
    text-align:center;
    font-size: 25px;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -8px;
}
.ElementOverlapSection::before{
    
    content: url(before-triangle.png);
    position:relative;
    top:-64px;
    left: 5px;
}
.ElementOverlapSection::after{
    content: url(after-triangle.png);
    position:relative;
    top:-64px;
    left: -5px;
}
.contact{
	position:relative;
	top:70px;
	z-index:13;
}
.header::before
{
    position: absolute;
    left:-30px;
    height:20px;
    top:8px;
    width:20px;
    border-radius:50%;
    background:#376d97;
    color:white;
    text-align: center;
    line-height:20px;
    content: ">";
    font-weight:bold;
}
.header{
    text-align:left;
}
.header h1{
    color:white;
}
.ElementBackground p{
    color:white;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    text-align:left;
    font-size:12px;
}
.blok{
    position:relative;
}
.large-6 .blok:first-child{
    margin-top:50px;
}
.large-6:last-child{
    padding-left:30px;
}
.last .blok{
    padding-left:30px;
}
.last .blok .header::before{
    left:0px
}
.boxes h1{
    font-weight:bold;
}
.boxes{
    margin-top:90px;
    margin-bottom:90px;
}
.divider_40{
	height:40px;
}
.divider_30{
	height:30px;
}
.divider_20{
	height:20px;
}
.divider_10{
	height:10px;
}

