/**
* Table of Contents:
*
* Theme Color
* Theme Basic
* Header
* Page Titles
* Main Menu
* Sidebar
* Footer
* Colors
* Background Style
* Hovers
* Elements Styles
* Pagination
* Isotope
* Single Post
* Single Portfolio
* Comments
* Back to Top
* Media Queries
* ----------------------------------------------------------------------------
*/

/**
* Theme COLOR
* ----------------------------------------------------------------------------
*/

#grve-header .grve-container {
height:90px;
}

#grve-header.grve-style-2 {
line-height:90px;
}

#grve-header .grve-logo img {
max-height:90px;
}

.grve-slider-caption .grve-btn.grve-btn-line {
color:#fff;
border-color:#fff;
}

#grve-theme-body {
background-color:#fcfcfc;
}

.grve-main-content h1,.grve-main-content h2,.grve-main-content h3,.grve-main-content h4,.grve-main-content h5,.grve-main-content h6,.grve-sidebar h1,.grve-sidebar h2,.grve-sidebar h3,.grve-sidebar h4,.grve-sidebar h5,.grve-sidebar h6,.grve-post-title,.grve-box-title,#grve-main-title-section .grve-title,.grve-portfolio-title a,.grve-blog-label a .grve-post-title,.grve-accordion.grve-style-1 .grve-title.active,.grve-team-content .grve-team-name,.grve-smallteam-item .grve-team-name,strong,dt {
color:#000;
}

.grve-dark-color h1,.grve-dark-color h2,.grve-dark-color h3,.grve-dark-color h4,.grve-dark-color h5,.grve-dark-color h6 {
color:#000!important;
}

body,.grve-pagination li a,.grve-pagination li .page-numbers,.grve-single-post .grve-post-meta a,.grve-custom-nav ul li a,.grve-latest-news li:before,.grve-search-btn,.grve-archives a,.tagcloud a,.grve-categories a,.grve-portfolio-nav li a,.grve-blog-label a .grve-post-date,.grve-smallteam-item .grve-team-description,.grve-smallteam-item .grve-smallteam-social li a,#grve-theme-body .grve-social li a,.grve-post-quote .grve-post-content a,.grve-post-link .grve-post-content a,blockquote.grve-style-2:before {
color:#666;
}

.grve-tabs-title li,.grve-pagination li a,.grve-pagination li .page-numbers,.grve-latest-news li,.grve-latest-news .grve-post-format:after,.grve-popular-post li,.grve-second-menu li,.grve-custom-nav ul li,.grve-custom-nav .submenu,.tagcloud a,.grve-horizontal-tab .grve-tabs-title,.grve-social li a,.grve-search-btn,.grve-archives li,.grve-categories li,.grve-contact-info li,.grve-widget.grve-comments li,.grve-blog-masonry .grve-post-content,.grve-blog-label .grve-post-wraper,.grve-blog-label .grve-post-content,.grve-filter li,.grve-callout,.grve-pricing-table ul li,.grve-fields .grve-fields-title,.grve-header-style-2 .grve-menu,.grve-header-style-3 .grve-menu,.grve-portfolio-nav,.grve-portfolio-nav li,.grve-menu-responsive .grve-menu li,.grve-accordion.grve-style-2 .grve-title,.grve-about-author,.grve-comment-content,.grve-blog-label .grve-post-format,.grve-related-post .grve-filter,.grve-image-hover-icon,#grve-topbar-responsive #grve-topbar-left,#grve-topbar-responsive #grve-topbar-right,.grve-post-quote .grve-post-content,.grve-post-link .grve-post-content,.grve-toggle.grve-style-2 .grve-title,.grve-pricing-table,.grve-team-social,.grve-team-item .grve-team-description,.grve-team-content,.grve-smallteam-item,.grve-smallteam-item .grve-smallteam-content,.grve-smallteam-item .grve-smallteam-social,.grve-icon-box:hover .grve-icon:after,.grve-bar,.grve-title-line:after,.grve-title-line:before,.grve-title-double-line:after,.grve-title-double-line:before,.grve-icon-box .grve-icon,.sticky .grve-post-content,.grve-search-page .grve-search-item-content,hr,code,pre,table,tr,th,td,.grve-header-search,input[type=text],input[type=input],input[type=password],input[type=email],input[type=number],input[type=url],input[type=tel],input[type=search],textarea,.widget_nav_menu ul li a,.widget_meta ul li,.widget_archive ul li,.widget_links li,.widget_pages ul li a,.widget_categories ul li,#recentcomments li,.widget_recent_entries ul li,select {
border-color:#e4e4e4!important;
}

.grve-btn.grve-primary,input[type=submit],.grve-btn.grve-secondary:hover,.grve-icon-box.grve-white-box .grve-icon {
border-color:#24d1c4;
}

.grve-btn.grve-primary:hover,input[type=submit]:hover,.grve-btn.grve-secondary {
border-color:#1c2730!important;
}

.grve-primary,.grve-primary-overlay:before,.grve-btn.grve-secondary:hover,input[type=submit],.grve-tabs-title li.active,.grve-tabs-title li.active:hover,.grve-pagination li a.current,.grve-pagination li .page-numbers.current,.grve-accordion.grve-style-1 .grve-title.active:before,.grve-toggle.grve-style-1 .grve-title.active:before,.grve-accordion.grve-style-2 .grve-title.active,.grve-toggle.grve-style-2 .grve-title.active,.grve-filter li.selected,.grve-filter li.selected:hover,.grve-search-btn:hover,.grve-callout:before,.grve-style-2 th,.grve-mobile .grve-style-2 td:first-child,.grve-pricing-feature .grve-pricing-header,.grve-icon-box.grve-white-box .grve-icon,.grve-team-content:after,.grve-menu > li > a:after,.grve-icon-box:after,blockquote:before,.grve-page-title-primary-bg,.grve-menu-btn,.grve-close-btn,.grve-carousel-btn,.grve-slider .flex-direction-nav li a,#wp-calendar #today,.tp-rightarrow.default,.tp-leftarrow.default {
background-color: #376d97;
color:#fff;
}

.grve-secondary,.grve-secondary-overlay:before,.grve-carousel figcaption,.grve-carousel-item.portfolio,.grve-btn.grve-primary:hover,input[type=submit]:hover,.tagcloud a:hover,.grve-social li a:hover,.grve-tabs-title li:hover,.grve-blog-label .grve-post-wraper:hover .grve-post-format:after,.grve-pagination li a:hover {
background-color:#1c2730!important;
color:#fff!important;
}

a:hover,.grve-team-social li a:hover {
color:#1c2730;
}

.grve-team-social {
background-color:#F6F6F6;
}

.grve-black-overlay:before {
background-color:#000;
}

#grve-footer {
background-color: #376d97;
color:#fff;
}

#grve-footer .tagcloud a:hover,#grve-footer .grve-social li a:hover {
background-color:#24d1c4!important;
color:#fff;
opacity:1;
}


#grve-footer .grve-latest-news .grve-post-format:after,#grve-footer .tagcloud a,#grve-footer .grve-social li a,#grve-footer .grve-tabs-title li {
background-color:rgba(255,255,255,0.04);
}

#grve-footer .grve-footer-bar,.grve-wrapper {
background-color: white;
}

#grve-header,#grve-feature-section,.grve-mask,body,.grve-horizontal-menu,.grve-horizontal-menu .sub-menu,.grve-horizontal-menu .children {
background-color: white;
}

#grve-header .grve-page-title .grve-title,#grve-header .grve-page-title .grve-sub-title,#grve-header .grve-page-title .grve-post-meta,#grve-header .grve-page-title .grve-post-meta a:hover,.grve-slider-caption .grve-title,.grve-vertical-menu a,.grve-horizontal-menu a,.grve-horizontal-menu .grve-mainmenu-btn:before {
color: #44779e;
}
#grve-footer h1,#grve-footer h2,#grve-footer h3,#grve-footer h4,#grve-footer h5,#grve-footer h6{
color:white;
}

.grve-slider-caption .grve-subtitle,.grve-vertical-menu a:hover,.grve-vertical-menu .active > a,.grve-vertical-menu .grve-current > a,.grve-horizontal-menu a:hover,.grve-horizontal-menu .active > a,.grve-horizontal-menu .grve-current > a,.current-menu-item > a,.current-menu-ancestor > a,a,.grve-post-title:hover,a .grve-box-title:hover,.grve-blog-label-filter li.selected i,.grve-blockquote:before,.grve-latest-news .grve-title:hover,.grve-popular-post .grve-title:hover,.grve-second-menu li a:hover,.grve-single-post .grve-post-meta a:hover,.grve-custom-nav ul li a:hover,.grve-portfolio-title a:hover,.grve-list li:before,.grve-archives a:hover,.grve-categories a:hover,.grve-portfolio-nav li a:hover,.grve-filter li:hover,.grve-related-post .grve-filter li.selected,.grve-related-post .grve-filter li:hover.selected,.grve-page-title .grve-post-meta span:before,.grve-fields .grve-fields-title:before,.grve-team-social li a,.grve-smallteam-item .grve-smallteam-social li a:hover,.grve-btn.grve-btn-line:hover,#grve-search-modal .grve-search-btn,.grve-hover-item a .grve-hover-title:before,.grve-icon-box .grve-icon,.grve-icon-box-small .grve-icon,.grve-icon-box:hover .grve-box-title,.grve-post-quote .grve-post-content a:hover,.grve-post-link .grve-post-content a:hover,.grve-icon-box-small:hover .grve-box-title,q:before,q:after {
color: #34495e;
}

.grve-light-color h1,.grve-light-color h2,.grve-light-color h3,.grve-light-color h4,.grve-light-color h5,.grve-light-color h6,#grve-footer a:hover,#grve-footer .grve-latest-news .grve-title,#grve-footer .grve-second-menu li a,#grve-footer .grve-popular-post .grve-title,#grve-footer .tagcloud a,#grve-footer .grve-latest-news li:before,#grve-footer .grve-widget.grve-social li a,#grve-footer .grve-archives a,#grve-footer .grve-categories a {
color:#fff!important;
}

.grve-primary-color h1,.grve-primary-color h2,.grve-primary-color h3,.grve-primary-color h4,.grve-primary-color h5,.grve-primary-color h6,.grve-highlight,.grve-social.grve-social-large li a:hover,#grve-share-modal .grve-social li a:hover,#grve-footer a,#grve-footer .grve-latest-news .grve-title:hover,#grve-footer .grve-second-menu li a:hover,#grve-footer .grve-popular-post .grve-title:hover,#grve-footer .grve-archives a:hover,#grve-footer .grve-categories a:hover {
color:white!important;
}

::selection,::-moz-selection {
background-color:#24d1c4;
color:#fff;
}

.grve-tabs-title li,.grve-accordion.grve-style-1 .grve-title:before,.grve-toggle.grve-style-1 .grve-title:before,.grve-accordion.grve-style-2 .grve-title,.grve-toggle.grve-style-2 .grve-title,.grve-bar,.grve-comment-content,.grve-post-quote .grve-post-content,.grve-post-link .grve-post-content,.grve-price,.grve-fields .grve-fields-content,.grve-portfolio-nav li a:hover,.grve-related-post .grve-filter,.grve-menu-responsive .grve-menu ul.sub-menu,.grve-latest-news .grve-post-format:after,.tagcloud a,.grve-social li a,.grve-filter li,.grve-blog-label .grve-post-wraper,.grve-smallteam-item,.grve-pagination li a,.grve-mobile td:first-child,tbody tr:hover,pre,input[type=text],input[type=input],input[type=password],input[type=email],input[type=number],input[type=url],input[type=tel],input[type=search],textarea,.grve-white-overlay:before {
background-color:#fff;
}


/**
* Theme Basic
* ----------------------------------------------------------------------------
*/
#grve-wrapper {
	position: relative;
	left: 0;
	margin-top:30px;
}

#grve-theme-body {
	position: relative;
	z-index: 1;
}

#grve-feature-section {
	position: fixed;
	z-index: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
}

#grve-feature-section .grve-element {
	margin: 0px !important;
}
/**
* Header top
* ----------------------------------------------------------------------------
*/

nav.top-bar ul{
    list-style: none;
    margin: 0px;
    display: inline-block;
    line-height: 50px;
}
nav.top-bar li{
float:left;
margin-left:14px;
}
nav.top-bar li a{
    color:white;
}

/** 

 Widget 

**/
.textwidget input{
	background:#21608c;
	color:white;
	border:none !important;
}
.textwidget textarea{
	background:#21608c;
	resize:none;
	color:white;
	border:none !important;
}
.textwidget input:focus{
	background:#1f567d;
}
.textwidget textarea:focus{
	background:#1f567d;
}
.textwidget input[type="submit"]{
	background:#1f567d;
	color:white;
}

/**
* Header
* ----------------------------------------------------------------------------
*/
#grve-top {
	position: relative;
}

#grve-header {
	position: relative;
	display: block;
	width: 100%;
	z-index: 996;
	left: 0;
	top: 0;
}

#grve-header .grve-container {
	padding: 0px;
	width: 100% !important;
	display: table;
	margin-bottom: 10px;
}

#grve-header.grve-style-1 .grve-container:before,
#grve-header.grve-style-1 .grve-container:after {
	display: none;
}

h1.grve-logo {
	display: table-cell;
	vertical-align: middle;
	padding: 0px 30px;
	z-index: 1;
	font-size: 0;
	/*background-color: rgba(255, 255, 255, 0.05);*/
}

h1.grve-logo a {
	display: block;
	overflow: visible;
}

h1.grve-logo img {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 0;
}

.grve-style-1 .grve-header-options {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	margin: 0;
	padding-right: 22px;
	list-style: none;
	min-width: 315px;
}

.grve-style-2 .grve-header-options {
	display: block;
	float: right;
	margin: 0;
	margin-right: 22px;
	list-style: none;
}

.grve-header-options  li {
	display: inline-block;
	margin-top: -7px;
}

.grve-style-2 .grve-header-options  li {
	float: left;
	margin-top: -7px;
}

.grve-header-options  li a {
	display: block;
	height: 100%;
	margin-left: 8px;
	margin-right: 8px;
	overflow: visible;
	position: relative;
}

.grve-header-options  li img {
	display: inline-block;
	vertical-align: middle;
}

.grve-header-options li a.grve-menu-btn {
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 7px;
}

.grve-header-options li a.grve-menu-btn img {
	vertical-align: top;
	margin-top: -14px;
}

#grve-header.grve-style-2 .grve-menu-btn {
	display: none;
}


/**
* Page Titles
* ----------------------------------------------------------------------------
*/

#grve-header .grve-page-title {
	display: table-cell;
	vertical-align: middle;
	padding: 10px 0px 10px 30px;
	display: none;
}

.grve-page-title .grve-title {
	margin: 0 20px 0 0;
	padding-right: 5px;
	font-size: 35px;
	line-height: 1.2;
	float: left;
}

.grve-page-title .grve-sub-title {
	font-size: 15px;
	line-height: 1.2;
	float: left;
	overflow: hidden;
	margin: 15px 0;
}

.grve-page-title .grve-sub-title span {
	display: block;
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.grve-page-title .grve-sub-title span.active {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

/* Style 2 */
#grve-main-title-section {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: rgba(0,0,0,0.02);
	border-top: 1px solid rgba(0,0,0,0.05);
	border-bottom: 1px solid rgba(0,0,0,0.05);
}

/* Post Title */
.single-post .grve-page-title .grve-title {
	float: none;
	margin-bottom: 0;
}


/**
* Main Menu
* ----------------------------------------------------------------------------
*/

/* Vertical Menu */
.grve-vertical-menu {
	display: none;
}

.grve-vertical-menu ul {
	margin: 0;
	list-style: none;
}

.grve-vertical-menu > ul {
	position: fixed;
	top: 0px;
	right: -20px;
	width: 320px;
	height: 100%;
	z-index: 998;
	background-color: rgba(0,0,0,0.9);
	overflow-y: scroll;
	-webkit-backface-visibility: hidden;
	overflow-x: hidden;
	padding: 20% 30px 50px 30px;
	-webkit-transform: translate(320px, 0);
	transform: translate(320px, 0);
}

.grve-vertical-menu .grve-close-btn {
	background-image: url(../images/graphics/arrows.svg);
	background-position: 0 -120px;
	position: fixed;
	top: 30px;
	right: 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 999;
	-webkit-transform: translate(320px, 0);
	transform: translate(320px, 0);
}

.grve-vertical-menu  ul li {
	position: relative;
}

.grve-vertical-menu  > ul > li {
	position: relative;
	-webkit-transform: translate(320px, 0);
	transform: translate(320px, 0);
}

.grve-vertical-menu  ul li a{
	display: block;
}

.grve-vertical-menu .menu-item > a,
.grve-vertical-menu .page_item > a {
	padding: 5px 0px;
}

.grve-vertical-menu .menu-item ul.sub-menu  a
.grve-vertical-menu .page_item ul.children a {
	line-height: 30px;
	font-weight: 400;
	font-size: 0.9em;
}

.grve-vertical-menu .grve-mainmenu-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
	z-index: 1;
	background-image: url(../images/graphics/arrows.svg);
	background-position: 0 -60px;
	cursor: pointer;
}

.grve-vertical-menu .grve-mainmenu-btn.active {
	background-position: 0 -90px;
}

.grve-vertical-menu .sub-menu,
.grve-vertical-menu .children {
	display: none;
	padding-left: 20px;
}
/* Horizontal Menu */

.grve-horizontal-menu{
	margin-top:70px;
	float:right;
	display:inline-block;

}

.grve-horizontal-menu ul {
	list-style: none;
	 *zoom: 1;
	 margin: 0;
	 float: right;

}

.grve-horizontal-menu ul:before,
.grve-horizontal-menu ul:after {
	content: " ";
	display: table;
}

.grve-horizontal-menu ul:after {
	clear: both;
}

.grve-horizontal-menu ul {
	list-style: none;
	margin: 0;
}

.grve-horizontal-menu li a {
	padding: 0 15px;
}

.grve-horizontal-menu ul li {
	position: relative;
	float:left;
		border-left:1px solid #3a719a;
}
.grve-horizontal-menu ul li:first-child{
	border-left:none !important;
}

.grve-horizontal-menu > ul > li {
	float: left;
}

.grve-horizontal-menu > ul > li > a {
	display: block;
	line-height: inherit;
}

.grve-horizontal-menu ul li ul {
	position: absolute;
	left: -9999px;
	opacity: 0;
	min-width: 200px;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.grve-horizontal-menu > ul > li.hover > ul {
	left: 0;
	opacity: 1;
}

.grve-horizontal-menu ul li li.hover > ul {
	left: 100%;
	top: 0;
	opacity: 1;
}

.grve-horizontal-menu .grve-menu-item-right.hover ul {
	left: -100% !important;
	text-align: right;
}

.grve-horizontal-menu > ul > li.grve-menu-item-right.hover > ul {
	left: auto !important;
	right: 0px;
}

.grve-horizontal-menu ul li li a {
	display: block;
	position: relative;
	z-index:100;
	border-top: 1px solid rgba(255,255,255, 0.05);
	border-bottom: 1px solid rgba(0,0,0, 0.05);
	line-height: 40px;
}

.grve-header-light .grve-horizontal-menu ul li ul .menu-item-has-children > a,
.grve-header-light .grve-horizontal-menu ul li ul .page_item_has_children > a {
	background-image: url(../images/graphics/arrow-right.svg);
	background-position: 95% center;
	background-repeat: no-repeat;
}

.grve-header-dark .grve-horizontal-menu ul li ul .menu-item-has-children > a,
.grve-header-dark .grve-horizontal-menu ul li ul .page_item_has_children > a {
	background-image: url(../images/graphics/arrow-right-dark.svg);
	background-position: 95% center;
	background-repeat: no-repeat;
}

.grve-header-light .grve-horizontal-menu ul li.grve-menu-item-right ul .menu-item-has-children > a,
.grve-header-light .grve-horizontal-menu ul li.grve-menu-item-right ul .page_item_has_children > a {
	background-image: url(../images/graphics/arrow-left.svg);
	background-position: 5% center;
	background-repeat: no-repeat;
}

.grve-header-dark .grve-horizontal-menu ul li.grve-menu-item-right ul .menu-item-has-children > a,
.grve-header-dark .grve-horizontal-menu ul li.grve-menu-item-right ul .page_item_has_children > a {
	background-image: url(../images/graphics/arrow-left-dark.svg);
	background-position: 5% center;
	background-repeat: no-repeat;
}

.grve-horizontal-menu .grve-mainmenu-btn {
	display: none;
}

/**
* Sidebar
* ----------------------------------------------------------------------------
*/

.grve-right-sidebar .grve-main-content  {
	padding-right: 30px;
	width:75.0%;
	float: left;
}

.grve-left-sidebar .grve-main-content  {
	padding-left: 30px;
	width:75.0%;
	float: right;
}

.grve-right-sidebar .grve-sidebar {
	width: 25%;
	float: right;
	padding-left: 30px;
}

.grve-left-sidebar .grve-sidebar {
	width: 25%;
	float: left;
	padding-right: 30px;
}

.grve-sidebar.grve-fixed-sidebar {
	width: 262px !important;
	padding: 0px;
}

/* Fixed Sidebar */
.grve-sidebar.grve-fixed-sidebar {
	position: relative;
}


/**
* Footer
* ----------------------------------------------------------------------------
*/

#grve-footer .grve-container {
	margin-bottom: 30px;
	margin-top: 60px;
}

#grve-footer.grve-section {
	padding-top: 0px;
	padding-bottom: 0px;
}

/* Copyright Bar */
#grve-footer  .grve-footer-bar {
	font-size: 0.85em;
}

#grve-footer .grve-footer-bar .grve-container {
	margin-bottom: 0px;
	margin-top: 0px;
}

.grve-mobile .grve-copyright {
	text-align: center;
	margin-bottom: 30px;
}

/* Footer Second Menu */
.grve-second-menu ul {
	display: block;
	text-align: right;
	list-style: none;
	margin: 0;
}

.grve-second-menu li {
	display: inline-block;
	margin-right: 1px;
	padding-right: 5px;
	border-right: 1px solid;
}

.grve-second-menu li:last-child {
	margin-right: 0px;
	padding-right: 0px;
	border-right: none;
}

.grve-mobile .grve-second-menu ul {
	display: block;
	text-align: center;
}


/**
* Colors
* ----------------------------------------------------------------------------
*/

/*-- Green --*/
.grve-green-color,
input[type='submit'].grve-green-color {
	background-color: #5F8D24;
	border-color: #5F8D24;
	color: #fff;
}

a.grve-green-color:hover,
input[type='submit'].grve-green-color:hover {
	background-color: #6EA726;
	border-color: #6EA726;
	color: #fff;
}

/*-- Green Light --*/
.grve-green-light-color {
	background-color: #DAEEC5;
	color: #408B60;
}

/*-- Orange --*/
.grve-orange-color,
input[type='submit'].grve-orange-color {
	background-color: #ffb125;
	border-color: #ffb125;
	color: #fff;
}

a.grve-orange-color:hover,
input[type='submit'].grve-orange-color:hover {
	background-color: #DF8F00;
	border-color: #DF8F00;
	color: #fff;
}

/*-- Orange Light --*/
.grve-orange-light-color {
	background-color: #F8E2AB;
	color: #CE9409;
}

/*-- Blue --*/
.grve-blue-color,
input[type='submit'].grve-blue-color {
	background-color: #46acee;
	border-color: #46acee;
	color: #fff;
}

a.grve-blue-color:hover,
input[type='submit'].grve-blue-color:hover {
	background-color: #2279d7;
	border-color: #2279d7;
	color: #fff;
}

/*-- Blue Light --*/
.grve-blue-light-color {
	background-color: #CDEAFD;
	color: #3488BE;
}

/*-- Red --*/
.grve-red-color,
input[type='submit'].grve-red-color {
	background-color: #f34522;
	border-color: #f34522;
	color: #fff;
}

a.grve-red-color:hover,
input[type='submit'].grve-red-color:hover {
	background-color: #ca2b27;
	border-color: #ca2b27;
	color: #fff;
}

/*-- Red Light --*/
.grve-red-light-color {
	background-color: #FAB9B6;
	color: #B63A35;
}

/*-- Aqua --*/
.grve-aqua-color,
input[type='submit'].grve-aqua-color {
	background-color: #2fceb8;
	border-color: #2fceb8;
	color: #fff;
}

a.grve-aqua-color:hover,
input[type='submit'].grve-aqua-color:hover {
	background-color: #16ab8d;
	border-color: #16ab8d;
	color: #fff;
}

/*-- Aqua Light --*/
.grve-aqua-light-color {
	background-color: #8FD8CE;
	color: #279182;
}

/*-- Purple --*/
.grve-purple-color,
input[type='submit'].grve-purple-color {
	background-color: #380E6F;
	border-color: #380E6F;
	color: #fff;
}

a.grve-purple-color:hover,
input[type='submit'].grve-purple-color:hover {
	background-color: #940ae5;
	border-color: #940ae5;
	color: #fff;
}

/*-- Purple Light --*/
.grve-purple-light-color {
	background-color: #C1B0D8;
	color: #693EA5;
}

/*-- White --*/
.grve-white-color,
input[type='submit'].grve-white-color {
	background-color: #f8f7f6;
	border-color: #f8f7f6;
	color: #a09d9d;
}

a.grve-white-color:hover,
input[type='submit'].grve-white-color:hover{
	background-color: #eeecea;
	border-color: #eeecea;
	color: #474747;
}

/*-- White Light --*/
.grve-white-light-color {
	background-color: #E7E7E7;
	color: #858484;
}

/*-- Black --*/
.grve-black-color,
input[type='submit'].grve-black-color {
	background-color: #000000;
	border-color: #000000;
	color: #fff;
}

a.grve-black-color:hover,
input[type='submit'].grve-black-color:hover {
	background-color: #1a1a1a;
	border-color: #1a1a1a;
	color: #fff;
}

/*-- Black Light --*/
.grve-black-light-color {
	background-color: #1a1a1a;
	color: #fff;
	border-color: #000 !important;
}


/**
* Background Style
* ----------------------------------------------------------------------------
*/

/* Images Background */
.grve-bg-image {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.grve-fixed-bg {
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.grve-animated-bg {
	background-size: auto !important;
	background-repeat: repeat-x;
	background-position: center center;
	z-index: 1;
}

/* Video Background */
.grve-video-bg {
	overflow: hidden;
}

.grve-video-bg-element {
	position: absolute !important;
	min-width: 100%;
	min-height: 100%;
	max-width: none;
	width: auto;
	height: auto;
	left: 0px;
	overflow: hidden;
}

.grve-video-container {
	position: absolute;
	width: 100%;
	top: 55%;
	left: 0px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: 2;
}

/* Patterns & Overlays */
.grve-pattern {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-image: url(../images/graphics/pattern-1.png);
	background-repeat: repeat;
}

.grve-white-overlay:before,
.grve-black-overlay:before,
.grve-primary-overlay:before,
.grve-secondary-overlay:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.grve-overlay-fade:hover .grve-overlay-10:before,
.grve-overlay-10:before {
	opacity: 0.1;
}

.grve-overlay-fade:hover .grve-overlay-20:before,
.grve-overlay-20:before {
	opacity: 0.2;
}

.grve-overlay-fade:hover .grve-overlay-30:before,
.grve-overlay-30:before {
	opacity: 0.3;
}

.grve-overlay-fade:hover .grve-overlay-40:before,
.grve-overlay-40:before {
	opacity: 0.4;
}

.grve-overlay-fade:hover .grve-overlay-50:before,
.grve-overlay-50:before {
	opacity: 0.5;
}

.grve-overlay-fade:hover .grve-overlay-60:before,
.grve-overlay-60:before {
	opacity: 0.6;
}

.grve-overlay-fade:hover .grve-overlay-70:before,
.grve-overlay-70:before {
	opacity: 0.7;
}

.grve-overlay-fade:hover .grve-overlay-80:before,
.grve-overlay-80:before {
	opacity: 0.8;
}

.grve-overlay-fade:hover .grve-overlay-90:before,
.grve-overlay-90:before {
	opacity: 0.9;
}

.grve-overlay-fade .grve-overlay-10:before,
.grve-overlay-fade .grve-overlay-20:before,
.grve-overlay-fade .grve-overlay-30:before,
.grve-overlay-fade .grve-overlay-40:before,
.grve-overlay-fade .grve-overlay-50:before,
.grve-overlay-fade .grve-overlay-60:before,
.grve-overlay-fade .grve-overlay-70:before,
.grve-overlay-fade .grve-overlay-80:before,
.grve-overlay-fade .grve-overlay-90:before {
	opacity: 1;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}


/**
* Hovers
* ----------------------------------------------------------------------------
*/
.grve-hover-item {
	overflow: hidden;
}

.grve-hover-item a {
	display: block;
	position: relative;
}

.grve-hover-item a {
	overflow: hidden;
}

.grve-hover-item a .grve-hover-content{
	position: absolute;
	background: #333;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	z-index: 2;
}

.grve-hover-item a .grve-hover-subtitle,
.grve-hover-item a .grve-hover-title {
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.grve-hover-item a .grve-hover-title:before {
	content: '+';
	margin-right: 10px;
}

.grve-hover-title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 70%;
	font-size: 18px;
	font-weight: 300;
	display: block;
	color: #fff;
}

.grve-hover-subtitle {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 70%;
	font-size: 12px;
	margin-top: 25px;
	opacity: 0.4;
	display: block;
	color: #fff;
}


/* Video Hover Icon */
.grve-video-icon:before {
	content: '';
	text-align: center;
	line-height: 70px;
	position: absolute;
	width: 70px;
	height: 70px;
	background: rgba(0,0,0,0.9);
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -35px;
	background-image: url(../images/graphics/player.png);
	background-repeat: no-repeat;
}


/**
* Elements Styles
* ----------------------------------------------------------------------------
*/

/* Circle Elements */
.grve-icon-circle,
.grve-icon-box .grve-icon,
.grve-icon-box .grve-icon:after,
.grve-accordion .grve-title:before,
.grve-toggle .grve-title:before,
.grve-testimonial-image,
.grve-list li:before,
.grve-article-nav img,
.grve-slider .flex-control-nav li a,
.grve-testimonial-carousel .flex-control-nav li a,
#grve-fullscreen-area .grve-close-btn ,
.grve-video-icon:before {
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

/* Drop Shadow Elements */
.grve-image-hover .grve-icon,
.grve-icon-circle {
	-webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}


/**
* Pagination
* ----------------------------------------------------------------------------
*/

.grve-pagination ul {
	margin: 0;
	list-style: none;
}

.grve-pagination {
	margin-bottom: 50px;
	text-align: right;
}

.grve-pagination li {
	display: inline-block;
}

.grve-pagination li i {
	vertical-align: baseline;
}

.grve-pagination li a,
.grve-pagination span.page-numbers {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 29px;
	margin: 0px 1px;
	text-align: center;
	border: 1px solid;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}


/**
* Isotope
* ----------------------------------------------------------------------------
*/

.grve-isotope-container {
	opacity: 0;
}

.grve-filter {
	margin-bottom: 35px;
}

.grve-filter ul {
	display: inline-block;
	list-style: none;
	margin: 0;
}

.grve-filter li{
	display: inline-block;
	cursor: pointer;
	padding: 3px 10px;
	margin: 0 2px;
	border: 1px solid;
	font-size: 0.9em;
	transition: background-color 0.2s linear;
	-webkit-transition: background-color 0.2s linear;
	-o-transition: background-color 0.2s linear;
	-moz-transition: background-color 0.2s linear;
}

.grve-isotope-container {
	margin: 0px -15px;
}

.grve-fullwidth-element .grve-isotope-container {
	margin: 0px;
}

.grve-isotope-item {
	padding: 0px 15px;
	margin-bottom: 30px;
}


/* Post Formats */
.format-standard .grve-post-format:before,
.format-standard .grve-post-format:after {
	content: "\f040";
	font-family: FontAwesome;
}

.format-image .grve-post-format:before,
.format-image .grve-post-format:after {
	content: "\f03e";
	font-family: FontAwesome;
}

.format-video .grve-post-format:before,
.format-video .grve-post-format:after {
	content: "\f008";
	font-family: FontAwesome;
}

.format-audio .grve-post-format:before,
.format-audio .grve-post-format:after {
	content: "\f028";
	font-family: FontAwesome;
}

.format-gallery .grve-post-format:before,
.format-gallery .grve-post-format:after {
	content: "\f009";
	font-family: FontAwesome;
}

.format-quote .grve-post-format:before,
.format-quote .grve-post-format:after {
	content: "\f10d";
	font-family: FontAwesome;
}

.format-link .grve-post-format:before,
.format-link .grve-post-format:after {
	content: "\f0c1";
	font-family: FontAwesome;
}

.format-chat .grve-post-format:before,
.format-chat .grve-post-format:after {
	content: "\f0e6";
	font-family: FontAwesome;
}


/**
* Single Post
* ----------------------------------------------------------------------------
*/

/* Post Meta */

.single-post #grve-header .grve-page-title .grve-title {
	float: none;
}

#grve-header .grve-page-title .grve-post-meta {
	display: block;
	vertical-align: top;
	margin-top: 3px;
	overflow: hidden;
	line-height: 1.2;
}

/* About Author */
.grve-about-author {
	padding: 60px 0px 30px 0px;
	margin: 60px 0px 0px 0px;
	border-top: 1px solid;
	line-height: 24px;
}

.grve-author-info .grve-title {
	line-height: 1;
	margin-bottom: 10px;
	margin-top: 3px;
}

.grve-author-info p {
	margin-bottom: 0px;
}

.grve-about-author .avatar {
	float: left;
	width: 80px;
	height: 80px;
	display: block;
}

.grve-author-info {
	overflow: hidden;
	padding-left: 25px;
	min-height: 80px;
}

/* Related Post */
.grve-related-post  {
	margin-top: 30px;
}

.grve-related-post .grve-filter {
	text-align: right;
	position: relative;
	padding: 10px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.grve-related-post .grve-filter li{
	padding-right: 10px;
}

.grve-related-post .grve-filter li,
.grve-related-post .grve-filter li:hover,
.grve-related-post .grve-filter li.selected,
.grve-related-post .grve-filter li:hover.selected {
	background: none !important;
	border: none;
}

.grve-filter-title {
	position: absolute;
	line-height: 30px;
	top: 10px;
	left: 10px;
	white-space: nowrap;
}

/* Articles Navigation */
.grve-article-nav {
	position: fixed;
	display: table;
	width: 190px;
	height: 70px;
	top: 50%;
	margin-top: -35px;
	background-color: rgba(0, 0, 0, 0.1);
	color: #fff !important;
	-webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	z-index: 3;
}

.grve-article-nav img {
	width: 40px;
	height: 40px;
	margin: 15px 10px;
}

.grve-article-nav i {
	position: absolute;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	top: 50%;
	margin-top: -15px;
}

.grve-article-nav.grve-prev-article i {
	right: 0px;
}

.grve-article-nav.grve-next-article i {
	left: 0px;
}

.grve-article-nav .grve-title {
	display: table-cell;
	vertical-align: middle;
	padding: 0px 10px;
	max-width: 100px;
}

.grve-article-nav:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.grve-article-nav.grve-prev-article {
	left:0px;
	margin-left: -160px;
	padding-right: 30px;
}

.grve-article-nav.grve-next-article {
	right: 0px;
	margin-right: -160px;
	padding-left: 30px;
}

.grve-article-nav.grve-prev-article:hover {
	margin-left: 0px;
}

.grve-article-nav.grve-next-article:hover {
	margin-right: 0px;
}


/**
* Single Portfolio
* ----------------------------------------------------------------------------
*/

.grve-fields {
	list-style: none;
	margin: 0;
	margin-bottom: 30px;
}

.grve-fields .grve-fields-content {
	display: none;
	padding: 15px 25px;
	margin-top: -15px;
	margin-bottom: 15px;
	font-size: 0.9em;
}

.grve-fields li:last-child .grve-fields-content {
	margin-top: 0px;
}

.grve-fields .grve-fields-title {
	display: block;
	position: relative;
	padding-bottom: 15px;
	padding-left: 25px;
	margin-bottom: 15px;
	border-bottom: 1px solid;
}

.grve-fields li:last-child .grve-fields-title {
	margin-bottom: 0px;
}

.grve-fields .grve-fields-title:before {
	content: "\f105";
	font-size: 10px;
	font-family: FontAwesome;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 24px;
}

.grve-fields .grve-fields-title.active:before {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}


/**
* Comments
* ----------------------------------------------------------------------------
*/
.grve-comment-content {
	overflow: hidden;
	position: relative;
	padding: 20px;
	margin-bottom: 30px;
	border: 1px solid;
}

.grve-comment-item .avatar {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.grve-comment-item  .grve-author {
	margin-bottom: 0px;
}

.grve-comment-item .grve-comment-reply {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 5px !important;
	margin: 0px;
}

.grve-comment-item .grve-comment-edit {
	padding: 5px !important;
}

.grve-comment-item p:last-child {
	margin-bottom: 0px;
}

#grve-comments {
	margin-bottom: 60px;
}

#grve-comments > ul,
#grve-comments ul.children {
	list-style: none;
	margin: 0;
}

#grve-comments li ul li {
	padding-left: 30px;
}

.comment-reply-title {
	font-size: 32px;
	margin: 0px;
}

.comment-reply-title small {
	margin: 0px;
}

#grve-comments .comment-reply-title {
	font-size: 24px;
}

.grve-comment-content li {
	padding-left: 0 !important;
	margin-left: 20px;
}

#comment-nav-top > ul,
#comment-nav-bottom > ul {
	list-style: none;
	margin: 0;
}


/**
* Back to Top
* ----------------------------------------------------------------------------
*/

.grve-top-btn {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 25px;
	right: -100px;
	cursor: pointer;
	color: #ffffff;
	z-index: 997;
	background-color: rgba(0,0,0,0.5);
	background-image: url(../images/graphics/top.svg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.grve-top-btn.active {
	right: 25px;
}

.grve-mobile .grve-top-btn {
	width: 30px;
	height: 30px;
	bottom: 7px;
}

.grve-mobile .grve-top-btn.active {
	right: 7px;
}

.grve-mobile .grve-top-btn:after {
	font-family: FontAwesome;
	line-height: 30px;
}


/**
* Media Queries
* ----------------------------------------------------------------------------
*/

/* Desktops and laptops ----------- */
@media screen and (max-width: 1224px) {
	.grve-responsive .grve-sidebar.grve-fixed-sidebar {
		width:226px !important;
		padding: 0px;
	}

}

/* Tablet (landscape) ----------- */
@media screen and (max-width: 1200px) {

	.grve-responsive  .grve-sidebar.grve-fixed-sidebar {
		top: 0px !important;
		margin-left: 0px !important;
		position: relative !important;
	}

	/* Typography */
	.grve-responsive .grve-large-text {
		font-size: 70px !important;
	}

	.grve-responsive .grve-medium-text {
		font-size: 50px !important;
	}

	/*sidebar */
	.grve-responsive .grve-right-sidebar .grve-main-content ,
	.grve-responsive .grve-left-sidebar .grve-main-content {
		width:65.0%;
	}

	.grve-responsive .grve-right-sidebar .grve-sidebar,
	.grve-responsive .grve-left-sidebar .grve-sidebar	{
		width: 35%;
	}

	/* Background */
	.grve-responsive .grve-fixed-bg {
		background-attachment: scroll;
		background-position: center center;
	}

	/* Header */
	.grve-responsive #grve-header,
	.grve-responsive #grve-feature-section{
		position: relative !important;
		top: 0px !important;
	}

	.grve-responsive #grve-theme-body {
		top: 0px !important;
	}

}

@media screen and (min-width: 1024px) {

	/* Main Menu ---------------------- */
	.grve-responsive .grve-horizontal-menu ul,
	.grve-responsive .grve-horizontal-menu ul li li ul {
		display: block !important;
	
		margin-top: 55px;
}

}

@media screen and (max-width: 1023px) {

	/* Main Menu ------------- */
	.grve-responsive .active {
		display: block;
	}

	.grve-responsive #grve-header.grve-style-2 .grve-menu-btn {
		display: inline-block;
	}

	.grve-responsive #grve-header .grve-main-menu {
		width: 100%;
	}

	.grve-responsive .grve-horizontal-menu ul {
		display: none;
	}

	.grve-responsive .grve-horizontal-menu ul li a {
		line-height: 50px;
		padding: 0 40px;
	}

	.grve-responsive .grve-horizontal-menu > ul > li {
		width: 100%;
	}

	.grve-responsive .grve-horizontal-menu ul {
		width: 100% !important;
	}

	.grve-responsive .grve-horizontal-menu > ul > li > ul,
	.grve-responsive .grve-horizontal-menu ul li li ul {
		position: static;
		display: none;
		opacity: 1;
		width: 100%;
	}

	.grve-responsive .grve-horizontal-menu > ul > li > a {
		padding: 0 0 0 30px;
	}

	.grve-responsive .grve-style-2 h1.grve-logo {
		display: block;
		float: left;
		margin-bottom: 0;
		line-height: inherit;
	}

	.grve-responsive .grve-horizontal-menu ul li ul .menu-item-has-children > a,
	.grve-responsive .grve-horizontal-menu ul li ul .page_item_has_children > a {
		background: none !important;
	}

	.grve-responsive .grve-horizontal-menu .grve-mainmenu-btn {
		position: absolute;
		display: block;
		top: 10px;
		right: 30px;
		width: 30px;
		height: 30px;
		z-index: 1;
		background-image: url(../images/graphics/arrows.svg);
		background-position: 0 -60px;
		cursor: pointer;
		z-index: 999;
	}

	.grve-responsive .grve-header-dark .grve-horizontal-menu .grve-mainmenu-btn {
		background-image: url(../images/graphics/arrows-dark.svg);
	}

	.grve-responsive .grve-horizontal-menu .grve-mainmenu-btn.active {
		background-position: 0 -90px;
	}

}


/* Tablet (portrait) ----------- */
@media screen and (max-width: 959px) {
	
	.grve-responsive .grve-sidebar.grve-fixed-sidebar {
		width:100% !important;
	}

	.grve-responsive .grve-right-sidebar .grve-main-content,
	.grve-responsive .grve-left-sidebar .grve-main-content,
	.grve-responsive .grve-right-sidebar .grve-sidebar ,
	.grve-responsive .grve-left-sidebar .grve-sidebar {
		padding: 0px;
		width:100%;
		float: left;
	}

	/* Header */
	.grve-responsive #grve-header.grve-style-2 .grve-container {
		display: block;
		height: auto !important;
	}

	/* Typography */
	.grve-responsive .grve-large-text {
		font-size: 60px !important;
	}

	.grve-responsive .grve-medium-text {
		font-size: 40px !important;
	}

	.grve-responsive .grve-slider-caption {
		text-align: center !important;
	}

	/* Copyright Bar */
	.grve-responsive .grve-copyright,
	.grve-responsive .grve-second-menu ul	{
		text-align: center;
	}

	.grve-responsive .grve-second-menu ul	{
		margin-top: 10px;
	}

	/* Comments */
	.grve-responsive .grve-comment-item .avatar {
		float: none;
		width: 80px;
		height: 80px;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.grve-responsive #grve-comments li ul li {
		padding-left: 0px;
	}

	/* Contact Form */
	.grve-responsive .grve-form-name,
	.grve-responsive .grve-form-mail,
	.grve-responsive .grve-form-subject {
		width: 100% !important;
		margin-bottom: 5px;
	}

	/* Page Title */
	.grve-responsive .grve-page-title .grve-title {
		font-size: 24px !important;
	}

	.grve-responsive .grve-style-1 .grve-page-title .grve-title {
		float: none;
	}

	.grve-responsive .grve-style-1 .grve-page-title .grve-sub-title {
		margin: 0;
	}

	.grve-responsive #grve-main-title-section .grve-page-title .grve-title {
		font-size: 35px !important;
	}
}


/* Smartphones (landscape) ----------- */
@media screen and (max-width: 767px) {

	.grve-responsive .grve-main-content.grve-sidebar {
		width:100%;
	}

	.grve-responsive .grve-sidebar.grve-fixed-sidebar {
		width:100% !important;
		padding: 0px;
	}

	.grve-responsive .grve-right-sidebar .grve-main-content,
	.grve-responsive .grve-left-sidebar .grve-main-content,
	.grve-responsive .grve-right-sidebar .grve-sidebar ,
	.grve-responsive .grve-left-sidebar .grve-sidebar {
		padding: 0px;
		width:100%;
		float: left;
	}

	/* Typography */
	.grve-responsive .grve-large-text {
		font-size: 30px !important;
	}

	.grve-responsive .grve-medium-text {
		font-size: 20px !important;
	}

	/* Search Popup */
	.grve-responsive #grve-search-modal input[type='text'] {
		font-size: 30px !important;
	}

	.grve-responsive #grve-search-modal .grve-search-btn {
		font-size: 30px !important;
		margin-top: -15px;
		width: 30px;
		height: 30px;
	}

	/* Share Popup */
	.grve-responsive #grve-share-modal .grve-social li i{
		font-size: 30px !important;
	}

	.grve-responsive #grve-share-modal .grve-social li a {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}

	/* Language Popup */
	.grve-responsive #grve-language-modal .grve-language li i{
		font-size: 30px !important;
	}

	.grve-responsive #grve-language-modal .grve-language li a {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	.grve-responsive .mfp-bg {
		overflow: visible;
	}

	/* Header */
	.grve-responsive #grve-header-sticky-wrapper,
	.grve-responsive #grve-header  {
		height: auto !important;
	}

	.grve-responsive #grve-header .grve-container {
		display: block;
		height: auto !important;
	}

	.grve-responsive #grve-header  h1.grve-logo{
		height: 80px;
		line-height: 80px !important;
		width: 100% !important;
		text-align: center;
		display: block;
	}

	.grve-responsive #grve-header  h1.grve-logo img{
		max-height: 70px !important;
	}

	.grve-responsive .grve-header-options {
		position: relative;
		margin: 0px auto;
		text-align: center;
		display: block;
		width: 100%;
		line-height: 50px !important;
		padding-bottom: 10px;
		padding-right: 0;
	}

	.grve-responsive .grve-header-options li {
		float: none;
		margin: 0px 5px;
		display: inline-block;
	}

	/* Page Title */
	.grve-responsive #grve-header .grve-page-title {
		display: block !important;
		padding: 0px;
		float: left;
		width: 100%;
	}

	.grve-responsive .grve-page-title .grve-title {
		margin: 0px auto;
		padding-right: 0px;
		float: none;
		text-align: center;
	}

	.grve-responsive .grve-page-title .grve-sub-title {
		width: 100%;
		text-align: center;
		margin: 5px 0 10px 0;
	}

	/* Post Meta */
	.grve-responsive #grve-header .grve-page-title .grve-post-meta,
	.grve-responsive #grve-main-title-section .grve-page-title .grve-post-meta {
		text-align: center;
	}

	/* About Author */
	.grve-responsive .grve-about-author {
		padding: 30px 0px;
	}

	.grve-responsive .grve-about-author .avatar {
		float: none;
	}

	.grve-responsive .grve-author-info {
		overflow: visible;
		padding-left: 0px;
		margin-top: 20px;
		min-height: 25px;
	}

	/* Related Post Filters */
	.grve-responsive .grve-related-post .grve-filter {
		background: none !important;
		border: none;
		padding: 0px;
	}

	.grve-responsive .grve-related-post .grve-filter-title {
		position: relative;
		text-align: left;
		top: 0px;
		left: 0px;
	}

	.grve-responsive .grve-related-post .grve-filter ul {
		display: block;
	}

	.grve-responsive .grve-related-post .grve-filter li {
		display: block;
		text-align: left;
		margin-bottom: 5px;
	}
}


/* Smartphones (portrait) ----------- */
@media screen and (max-width: 479px) {

	.grve-responsive .grve-main-content.grve-sidebar {
		width:100%;
	}

	.grve-responsive .grve-right-sidebar .grve-main-content,
	.grve-responsive .grve-left-sidebar .grve-main-content,
	.grve-responsive .grve-right-sidebar .grve-sidebar ,
	.grve-responsive .grve-left-sidebar .grve-sidebar {
		padding: 0px;
		width:100%;
		float: left;
	}

	/* Page Title */
	.grve-responsive .grve-page-title .grve-title {
		font-size: 18px !important;
	}

	/* Post Meta */
	.grve-responsive #grve-header .grve-page-title .grve-post-meta .grve-post-comments,
	.grve-responsive #grve-header .grve-page-title .grve-post-meta .grve-post-categories,
	.grve-responsive #grve-main-title-section .grve-page-title .grve-post-meta .grve-post-comments,
	.grve-responsive #grve-main-title-section .grve-page-title .grve-post-meta .grve-post-categories {
		display: none;
	}

	/* Blog */
	.grve-responsive .grve-post-meta span {
		display: block;
	}

	.grve-responsive .grve-post-meta span:after {
		content: "";
	}
}