/*
Theme Name: MOMP THEME
Description: MOMP Theme
Version: 1.1
Tags: Black, MOMP

*/

.minContentRow{
	display:inline-block;
	width:100%;
}
.minContentColumn25{
	width:25%;
	float:left;
}
.minContentColumn75 h3{
	color:#636365;
}
.minContentColumn75{
	width:75%;
	float:left;
	padding-left: 20px;
}